[2017-01-12 13:42] pkyeck opened #1 "get an NPM error trying to install it"
[code]

anyone else running into this?

[2017-01-12 13:43] pkyeck commented on #1
[code]

[2017-01-12 18:07] reedflinch commented on #1
Also seeing this issue:

[code]

Also with yarn:
[code]

[code]

[2017-01-12 20:19] palmerj3 commented on #1
This is so weird... going to try publishing a new version and see if that helps.

[2017-01-12 21:45] palmerj3 commented on #1
@pkyeck @reedflinch I just published 1.0.4 which seems to have taken care of this.. I published with yarn for the previous versions and this time I published with NPM.. I'll keep an eye out for future releases. Thanks!

[2017-01-12 21:45] #1 closed

[2017-01-12 21:46] pkyeck commented on #1
thanks, will try again and report back

[2017-01-12 21:49] reedflinch commented on #1
Worked for me. Thanks @palmerj3 !

[2017-01-12 21:50] palmerj3 commented on #1
Excellent! Thanks for reporting this guys

[2017-01-16 20:14] reedflinch opened #2 "Jest tests return exit code 0 after failing tests"
This makes the package unusable for us in a CI environment - test steps rely on an exit code of 1 to properly signal failure. Perhaps related to https://github.com/winterbe/jest-teamcity-reporter/issues/6?

[code]

With `jest-junit` configured as the testResultsProcessor:
[code]

Without `"testResultsProcessor": "./node_modules/jest-junit"` in my jest config:
[code]

[2017-01-17 00:03] palmerj3 commented on #2
@reedflinch thank you for reporting! I will have a look and submit a patch. It does seem like you're probably right in referencing the issue.

[2017-01-17 00:18] palmerj3 commented on #2
@reedflinch you were right! I tested this locally and pushed a change which ensures exit code 1 is achieved in Jest 18. Please update to 1.0.5. Thanks again for reporting this!

[2017-01-17 15:51] reedflinch commented on #2
Very much appreciate the quick fix, @palmerj3! You rock 👍

[2017-03-07 10:50] crudo opened #7 "Node v4 support"
Hi @palmerj3, thanks for you reporter.

Is there a reason why you require node >=5?  I was trying to run in on node 4 (v4.8.0) and it worked too.

We have node 4 on our CI, and it would be great, if we could lower the required node in your package.json to 4.

Thanks!

[2017-03-07 11:22] palmerj3 commented on #7
@crudo thank you! I merged your PR and bumped the version to 1.3.0. Did a minor bump just in case, although I don't foresee any breaking changes.

[2017-03-07 11:22] #7 closed

[2017-04-17 23:53] danjamin opened #13 "When no outer `describe()` is used, testsuite name is undefined"
If a unit test is written without an outer `describe()` -- which by the way should be optional, then `jest-junit` sets the testsuite name to `undefined`.

There should be a way to configure using the test file path instead of the outermost `describe()`.

[2017-04-19 23:22] #13 closed

[2017-04-19 23:27] palmerj3 commented on #13
@danjamin published your PR as 1.5.0. Thanks again!
https://github.com/palmerj3/jest-junit/releases/tag/v1.5.0

[2017-04-20 02:36] danjamin commented on #13
@palmerj3 no problem; thanks for the quick turn around

[2017-04-20 05:05] nathancahill opened #15 "New utils directory is not published on npm"
[code]

[2017-04-20 10:03] palmerj3 commented on #15
@nathancahill sorry about that! Thanks for reporting. I pushed 1.5.1 which should address this.

[2017-04-20 13:13] #15 closed

[2017-05-03 14:12] robinvdvleuten opened #16 "Add coverage output generated xml"
Hi there,

I use this project very successfully on our CI in combination with __create-react-app__;

[code]

Now I was thinking if it is possible to add the code coverage report to the generated _junit.xml_? Thanks in advance for any help!

Cheers!

[2017-05-03 14:21] palmerj3 commented on #16
@robinvdvleuten great idea! I'll look into it and see what would be involved in adding it.

Feel free to submit a PR if you have time!

[2017-05-03 14:44] robinvdvleuten commented on #16
@palmerj3 sure, I've already created a fork for it 👍

[2017-05-03 15:04] robinvdvleuten commented on #16
@palmerj3 are you aware of the expected coverage format?

[2017-05-05 13:46] palmerj3 commented on #16
@robinvdvleuten sorry for not responding sooner!

The junit spec seems like it's not super locked down. But the one I've been following for this project is is [IBM's](https://www.ibm.com/support/knowledgecenter/en/SSQ2R2_9.5.0/com.ibm.rsar.analysis.codereview.cobol.doc/topics/cac_useresults_junit.html).

I don't see any specific tags mentioned for coverage.
What are the needs you have?

It's alway

[2017-07-12 10:10] yangshun opened #19 "Allow customization of separator between ancestor titles"
In the [code](https://github.com/palmerj3/jest-junit/blob/master/utils/buildJsonResults.js#L49), I saw the `ancestorTitles` are concatenated using a space. In Jest, by default they use the `›` character to concatenate the strings between hierarchies and I think it would be good to allow users to customize this character.

If you are agreeable with this I can create a PR to implement this. I'm thin

[2017-07-12 13:42] palmerj3 commented on #19
@yangshun that sounds reasonable to me :)  Feel free to submit a PR.

Just please make sure this new configuration works both as an env variable and a package.json config variable (since we're supporting both for all configurations).

[2017-07-12 13:52] yangshun commented on #19
Got it! I'll get to it soon (:

[2017-07-13 11:11] #19 closed

[2017-08-02 19:43] palmerj3 commented on #16
Since there doesn't appear to be any area in the junit xml spec to contain coverage information I'm going to close this issue.

[2017-08-02 19:43] #16 closed

[2017-08-30 17:16] rosieks opened #23 "Fail when using from cli with --projects"
When I use the following command:

    jest --testResultProcess ./node_modules/jest-junit --projects proj1 proj2

it fails because cannot find _packages.json_ file. It's probably due to this line: https://github.com/palmerj3/jest-junit/blob/8e5a183aa034efeaf34def5b537136f2dcb63c32/utils/getOptions.js#L20
Could you make it optional or even better - find it based on `testFilePath`

[2017-08-31 13:51] palmerj3 commented on #23
@rosieks thank you for reporting! I will flag this as a bug and look into fixing it so it can work in multi-project and single project. Feel free to submit a PR if you have ideas :)

[2017-09-01 00:40] palmerj3 commented on #23
Hey @rosieks I pushed a release [v3.0.0](https://github.com/palmerj3/jest-junit/releases/tag/v3.0.0) which fixes this issue. Please give it a shot and let me know if you have any issues.

Thanks for reporting!!

[2017-09-01 00:40] #23 closed

[2017-09-06 07:14] Multiply opened #25 "Nested testsuites instead of ancestors"
Would it be possible to use `ancestors` as a way of defining nested testsuites?

Ideally, what I'd like to achieve:
- Each file is a testsuite
  - Name is based on the top-level `describe` inside the file, if there's only _one_ top-level `describe`.
  - Name is based on the filename, if there's _multiple_ top-level `describe`.
- Each `describe` is their own nested testsuite, under the file testsui

[2017-09-06 12:10] palmerj3 commented on #25
@Multiply thanks for submitting an issue.

In this case I would recommend that you fork the repo and make the change on your fork.

[2017-09-06 12:10] #25 closed

[2017-09-24 10:41] i0natan opened #26 "Include tests loading failures in report"
Hi,

I ran few test suites, most failed to run due to compilation error (test didnt actually ran). One suite ran successfully with 2 tests that passed.

The output .xml file reports 2 tests where both succeeded. Doesn't it make sense to report all the failing tests in the tests suites as failures (Even though they didn't run, they failed to compile)?

Yoni

[2017-09-24 14:28] palmerj3 commented on #26
@i0natan thanks for submitting an issue!

You do bring up a good point and this is something I would love to address.
The jUnit spec offers us three types of test results (succeed, fail, error). In your case the final result should have, ideally, been 2 succeed and n-error.

Jest, however, doesn't give any information to a testResultsProcessor for the error cases.

You can see here where I've left

[2017-09-24 14:54] palmerj3 commented on #26
I'm going to leave this issue open and spend a bit more time re-investigating this. It's a feature I would absolutely LOVE to add if/when it is possible.

[2017-09-25 12:46] kolo opened #27 "Don't fail if application is located in root directory"
HI,

library throws an error if application is located in root directory.

[code]

I came across this error then tried to get report while running tests in docker container. There is a simple workaround this problem, which is changing working dir to non-root directory, so I'm not sure that it should be fixed.

[2017-09-25 12:55] palmerj3 commented on #27
@kolo can you show me your jest config?

I'm assuming if you use `<rootDir>` you should be fine. E.g.

[code]

[2017-09-25 13:00] palmerj3 commented on #27
Ahhh ok I think I see the issue.. https://github.com/palmerj3/jest-junit/blob/master/utils/getOptions.js#L24

I'll file this as a bug and submit a fix later this evening.

[2017-09-29 14:34] palmerj3 commented on #27
@kolo I've added support for this in https://github.com/palmerj3/jest-junit/pull/28

Will be publishing 3.1.0 shortly.

[2017-09-29 14:34] #27 closed

[2017-10-06 22:39] dangoslen commented on #26
Hi! New to open source, so hopefully not out of place joining the conversation.

@i0natan I might be misunderstanding you, but when I have compilation error in my tests cases, the whole test suite fails and none of the tests are even attempted by jest. Is that the pattern you were describing? If so, jest will give a non-empty/non-null `failureMessage` in the array of test results supplied, but it

[2017-10-06 22:44] palmerj3 commented on #26
@dangoslen welcome :)

The main issue here is that if a test is run and there is a syntax error, uncaught exception, etc. then Jest currently does not provide enough information to testResultsProcessors (such as jest-junit) to be able to identify it as a failure vs error. So currently, in those situations, they are flagged as failure.

JUnit does recognize error and failure as distinct but, curren

[2017-10-09 20:40] dangoslen commented on #26
@palmerj3 thanks for the quick reply!

Thanks for helping to clarify what I was thinking. Bit of a bummer though they don't have that classification, but I guess with scripting some of the errors that normally come from strongly-typed languages aren't as 'important'.

Thanks again for this tool! Its made integrating our pretty small UI resources/tests into a larger maven build really easy with Jen

[2017-10-09 20:47] palmerj3 commented on #26
No worries and thanks for the nice words!

[2017-10-10 21:47] dangoslen opened #29 "Use Filename as Testsuite name?"
Had an idea for a feature that I wanted to talk about before just trying to code something.

One of the disconnects between how this library and how JUnit seems to typically export test results is around the name of the testsuite. It seems that testsuites from typical maven executions (failsafe, surefire) use the filename as the name of the testsuite. Jest-junit is using either the descriptor assi

[2017-10-10 22:01] palmerj3 commented on #29
Hello again!

Ok I want to better understand what you're proposing here.

Right now on a sample project with two test files and the following configuration:
[code]

I get this:
[code]

Which contains the path to the file.

Did you have something else in mind?

[2017-10-12 21:07] dangoslen commented on #29
Ahh. Should have included a concrete example.

The core idea is to use the same 'tag' idea present in the other template config options in this library for use in the name of each test suite. These tags would be the `filename`, `filepath` and `ancestorTitles`. The `filename` would just be the name of the file that generated tests, the `filepath` would be the full path to the file (including the fi

[2017-10-13 09:56] palmerj3 commented on #29
@dangoslen ahh ok - yes that's quite clear now. I love it!

Feel free to submit a PR and I'll review

[2017-10-22 04:54] #29 closed

[2017-11-13 20:33] aefox commented on #2
Is it just me or this issue just returned? :)

Here's my stack:
[code]

[2017-11-13 21:56] palmerj3 commented on #2
@aefox I'll take a look - thanks for reporting!

[2017-11-13 22:00] palmerj3 commented on #2
@aefox I'm unable to reproduce this.

I'm using jest 21.2.1 and jest-junit 3.1.0.

[2017-11-13 22:12] aefox commented on #2
@palmerj3 thanks for the quick response. let me try to find some time tomorrow to see if I can reproduce this in a non-production app

[2017-11-14 14:53] dangoslen commented on #29
Hey Jason,

Hope I'm not being annoying, but do you think you will have some time to update the deployed package to npm with these changes? Not sure the process there, so apologies if I missed something in my initial PR. Would like to get it to the teams I work with at Bandwidth for some of our projects.

Thanks!

[2017-11-14 15:26] palmerj3 commented on #29
@dangoslen sorry for the delay! I usually publish right away after a PR is merged. That's my fault. I just published 3.2.1 which includes your PR.

Let me know if there are any issues!

[2017-11-14 16:49] dangoslen commented on #29
No worries at all. Just wanted to move away from pointing teams to using the github repo and just use npm. :)

[2017-11-14 16:52] ebower12 opened #31 "Is there a way to output the data as inner xml, instead of as attributes?"
For example, my current output is this:

` <testcase classname="classname" name="classname" time="0.771">
    </testcase>`

But I want my output to look like this instead:

` <testcase>
      <classname>classname</classname>
      <name>classname</name>
      <time>0.771</time>
   </testcase>`

ask because I need to convert this file to a csv and can't find a package that will read from the attrib

[2017-11-15 20:29] roniger opened #32 "Testsuit no longer has the tests count attribute"
It seems that in the latest release (3.2.1) the format of the xml report file has changed, omitting the tests attribute of the testsuit containing the amount of tests that were ran.
This breaks our CI since our Jenkins publisher is relying on this attribute.
Looking at the code, it seems that there's no way to configure the reporter to include it.
Is there a plan to introduce it back again?

[2017-11-15 20:30] palmerj3 commented on #32
@roniger could you provide me with a simple example XML that shows how it used to be and how it currently is?

I just want to make sure I understand the issue properly.

Thanks!

[2017-11-15 20:39] roniger commented on #32
Old (notice the tests attribute on the testsuite node):
[code]

New:
[code]

[2017-11-15 20:40] palmerj3 commented on #32
@roniger great thanks! Let me take a look and see if I can add this back.

[2017-11-15 20:41] roniger commented on #32
Thank you!
That would be great

[2017-11-15 20:57] #32 closed

[2017-11-15 20:57] palmerj3 commented on #32
@roniger just published 3.3.0 which fixes this. Also here is the PR https://github.com/palmerj3/jest-junit/pull/33

Thanks for reporting!!

[2017-11-16 03:56] roniger commented on #32
Tested and works great!
Thank you very much for the prompt fix

[2017-12-06 21:25] jperl commented on #2
This happens for `jest-junit``3.3.0` with `jest` `21.2.1` but does not happen with `jest` `20.0.4`.

I am running `CI=true react-scripts test --env=jsdom --testResultsProcessor="jest-junit"` from a `create-react-app`.

[2017-12-06 21:33] jperl commented on #2
Repro here https://github.com/jperl/repro-jest-junit

[2017-12-06 21:50] palmerj3 commented on #2
@jperl thank you! I will take a look.

[2017-12-07 01:29] palmerj3 commented on #2
@jperl so when I clone your repo I see what you mean. It definitely has an exit 0 even with failing tests.

But further digging I realized it has the proper exit codes if I don't invoke it with react-scripts. If you invoke directly with jest like so then exit codes are fine.

`CI=true ./node_modules/.bin/jest --testResultsProcessor="jest-junit"`

I am leaning toward this being an issue with react-

[2017-12-07 01:29] #2 closed

[2017-12-07 02:34] palmerj3 commented on #2
@jperl so I did some FURTHER digging.. this has been fascinating :)

If you use the version of jest supplied by the current create-react-app then all works fine. But given that you are trying to use a version of jest that is not supported by the current react-scripts it's executing jest improperly.

Given that setup that you're trying to configure I think the best course of action would be to file

[2017-12-07 11:31] jperl commented on #2
@palmerj3 Thank you for digging into this! I don't know why I assumed `react-scripts` would be infallible, I should have checked that first. Again thanks for investigating and for building `jest-junit`!

[2017-12-21 21:43] shai32 opened #36 "add support for jest 22"

[2017-12-21 21:47] palmerj3 commented on #36
@shai32 do you have details about what breaks?

[2017-12-22 00:18] palmerj3 commented on #36
I am currently re-configuring the travis tests so it tests againt multiple versions of jest. Once I have that setup I'll dig in a bit deeper with jest 22.

[2017-12-22 03:49] palmerj3 commented on #36
@shai32 so I did some work tonight and added some travis checks to test jest-junit against multiple versions of jest.

As you can see here there doesn't appear to be an issue with jest 22. But if you can provide some additional details I'd be happy to take a look.

https://github.com/palmerj3/jest-junit/pull/38
https://travis-ci.org/palmerj3/jest-junit/builds/320048675

[2017-12-31 03:21] shai32 commented on #36
after upgrading the jest, I had this error
![image](https://user-images.githubusercontent.com/16700996/34458860-4b6eb8d0-edea-11e7-9bcc-01b2e3acade0.png)
after investigating the problem, I found out its related to create-react-app and not for jest-junit
closing the issue

[2017-12-31 03:21] #36 closed

[2017-12-31 03:24] palmerj3 commented on #36
Ah yes I actually commented on another issue similar to this recently. create-react-app has scripts which invoke jest programmatically and, thus, it's pinned to a particular version of jest. There are already issues on the create-react-app repo for upgrading jest so I would definitely suggest following those.

[2018-01-18 17:57] mfulton26 opened #39 "Support project displayName"
I'm running some Jest tests multiple times with different environment options. I have several files that look like the following but with different config file names, etc.:

[code]

They are each named something like `remote-{platform}-{browser}-{resolution}.config.js` so I have a final config file to run them all:

**jest.config.js**
[code]

The problem I am having though is that the junit.xml ge

[2018-01-18 23:01] palmerj3 commented on #39
@mfulton26 this is a really good point..

I will have to do some testing to confirm this - but the last time I tested jest multi-project with jest-junit I realized that jest does not give you any ability to pass information through to the testResultProcessor which would help to identify a suite..

That said I do think it's a really good idea to offer {displayName} as a template var which could be

[2018-02-02 16:30] wraytw opened #40 "Test reports at root element"
I need the test failures to report at the root element of the tree. Is there a way to report if a failure occurred on the root xml element?

Current:
[code]

Desired:
[code]

Notice the failures attribute on the first element.

Any help is appreciated.

[2018-02-02 16:39] palmerj3 commented on #40
@wraytw that seems like something I could add this weekend. I have been working off the IBM JUnit spec and I do see the "failures" attribute is valid in the root "testsuites" object so this shouldn't break anyone.

https://www.ibm.com/support/knowledgecenter/en/SSQ2R2_9.5.0/com.ibm.rsar.analysis.codereview.cobol.doc/topics/cac_useresults_junit.html

[2018-02-02 23:45] palmerj3 commented on #40
@wraytw I published 3.5.0 which contains this addition. Test it out and let me know how it goes!

https://github.com/palmerj3/jest-junit/releases/tag/v3.5.0

[2018-02-02 23:45] #40 closed

[2018-02-02 23:51] wraytw commented on #40
You sir, are a great human. Thank you!

[2018-02-03 17:35] #26 closed

[2018-02-10 15:35] palmerj3 commented on #39
@mfulton26 I spent some time this morning and added the ability to use "displayName" in any of the template options. So you can now do something like this in your jest-junit config if you choose:

[code]

This is available in version 3.6.0 which I just published to NPM.

[2018-02-10 15:35] #39 closed

[2018-02-11 01:43] mfulton26 commented on #39
Awesome! Thank you.

[2018-03-08 10:31] dalle opened #43 "testsuite.timestamp is in UTC, should be in local"
According to JUnit `testsuite.timestamp` is expected to be in local time without any timezone indicator (yes, it is strange indeed, but never the less).

[2018-03-08 10:57] palmerj3 commented on #43
@dalle ah weird.. I would much prefer UTC. Is this causing a problem for you?

Looking at the spec I'm not seeing where it says it needs local. Just that it needs to be ISO8601_DATETIME_PATTERN compatible.

[2018-03-09 03:02] ccarpita commented on #43
From the Ant dev mailing list I found the closest thing to a format spec:

http://ant.1045680.n5.nabble.com/schema-for-junit-xml-output-td1375274.html

In this definition, `timestamp` should be `xsd:dateTime`, which may optionally include a timezone:

http://www.datypic.com/sc/xsd/t-xsd_dateTime.html

[2018-03-09 06:53] dalle commented on #43
@palmerj3 I would also prefer that JUnit would expect it to be in UTC. In the end it's not causing any real problems which cannot be ignored. The tests are just reported to be run at an incorrect time, of which the time is just an offset depending on the current timezone.

[2018-03-30 19:08] mfulton26 opened #45 "console support"
I'm not sure if this is possible but it would be a huge benefit if the results of any `console.log` statements, etc. were made available inside of `<testcase>` elements using `<system-out>` and `<system-err>`.

[2018-03-31 07:46] palmerj3 commented on #45
If I get time this weekend I can revisit this.

But the last time I looked into it I was worried that it would contain too much irrelevant data. My main worry was if people used the [--useStderr cli flag](https://facebook.github.io/jest/docs/en/cli.html#usestderr).

[2018-04-03 15:16] palmerj3 commented on #45
@mfulton26 I THINK that jest already handles this and by the time this information is sent to a testResultsProcessor that it's already in a non-buffered organized format.

If I get some time this week I can confirm that. But feel free to send a PR if you have time and I'll review!

:)

[2018-04-04 15:57] phawxby opened #46 ""Test suite failed to run" does not report as a test failure in the xml output"
Considering the following console output

[code]
There is no output in the `junit.xml` referencing `product.js` test suite providing no indication it failed. Everything else is in there as expected.

[2018-04-05 08:54] phawxby commented on #46
I've quickly thrown together a test case.
[jest-junit-testcase.zip](https://github.com/palmerj3/jest-junit/files/1879194/jest-junit-testcase.zip)

Jest tests don't stop due to a suite failure unless running with the [bail](https://facebook.github.io/jest/docs/en/configuration.html#bail-boolean) option.

Console
[code]

junit.xml
[code]

[2018-04-05 08:59] phawxby commented on #46
Ah-ha! There's the problem. Let me see if I can figure out this magic then get a PR in.

![image](https://user-images.githubusercontent.com/1090602/38356596-10bc4c7a-38b8-11e8-9f3e-8f2e1945a8da.png)

[2018-04-18 12:29] #46 closed

[2018-04-24 18:04] mfulton26 opened #49 "output: Support <rootDir>"
Whenever I run a single test via IntelliJ IDEA (also applies to WebStorm) the resulting `junit.xml` is created in the directory where the test file exists instead of at the root of my project.

It would be great if `"output"` supported something like Jest's `"<rootDir>"` which several of its path-like options support (see https://facebook.github.io/jest/docs/en/configuration.html).

e.g. **package

[2018-04-26 11:40] palmerj3 commented on #49
I'll look into this - great idea!

[2018-05-11 01:33] ryanvgates opened #50 "Error: Cannot find module ''jest-junit''"
I have installed jest and jest-junit as devDependencies in my project. However when I try to run the command from the [example](https://github.com/palmerj3/jest-junit#usage), I get the following error.

<pre>● Validation Error:

  Module 'jest-junit' in the testResultsProcessor option was not found.

  Configuration Documentation:
  https://facebook.github.io/jest/docs/configuration.html</pre>

I

[2018-05-11 01:46] palmerj3 commented on #50
@ryanvgates I think you may have installed an old version of jest or have some symlink in place. Older versions of jest don't recognize the --ci flag, for instance.

I just followed the guide and was able to get jest-junit running with jest.

Perhaps try this as a fail-safe to make sure you're using the version of jest in node_modules and not some globally installed jest.

Put the following in you

[2018-05-11 02:32] ryanvgates commented on #50
Thank you for your help. I found my issue. It had to do with the `test` command in the `scripts` section of the `package.json`.

This works.
<pre>"scripts": {
    "test": "jest --forceExit --ci --testResultsProcessor=\"jest-junit\""
  }</pre>

This works.
<pre>"scripts": {
    "test": "jest --forceExit --ci --testResultsProcessor=jest-junit"
  }</pre>

This does **not** work.
<pre>"scripts": {

[2018-05-11 02:32] #50 closed

[2018-06-15 21:17] sarod opened #54 "Support mapping function to classNameTemplate"
When using junit report with java the classname contains the package name and the class name.
Tools like Jenkins CI assume this format and group test result by package name by using everything before the last `.` in the classname as a package name.

When using junit-jest it would be useful to support mapping the file folder to the "package" name but `/` would need to be replaced by `.`.

This is c

[2018-06-18 20:08] #54 closed

[2018-06-19 01:24] johngrogg opened #56 "Why is testResultsProcessor support deprecated?"
I'm wondering why `jest --ci --testResultsProcessor="jest-junit"` is a deprecated pattern? It's super useful to set the results processor at the command line for CI environments (no need to have the junit file artifact generated when running tests locally).

[2018-06-19 10:22] sarod commented on #56
@johngrogg I don't know why result processor is deprecated.

However if you want to avoid generating the junit file in dev you can have a jest config dedicated for CI environment that overrides the reporters config.

Here is an example of `jest.config.ci.js` that replaces the "reporters"
[code]

Then you run `jest --ci --config=jest.config.ci.js` in your CI environement.

[2018-06-19 10:28] palmerj3 commented on #56
@johngrogg it's deprecated because testResultsProcessor will eventually be removed from Jest and I wanted to start preparing jest-junit users to switch to reporters. Reporters and testResultsProcessor offers almost exactly the same API.

Another compelling reason is @sarod recent feature. I'm sure there will be more like this. The reporter API offers the ability to use functions for configuration

[2018-06-19 23:44] johngrogg commented on #56
@palmerj3 Ahh, that makes sense now. I hadn't seen anything in the jest documentation about that being eventually removed from Jest.

I also hadn't thought about using specific config files (I've just been using the package.json "jest" section). Thanks for the advice. You may want to update the documentation of this with a simple example of how to do what @sarod described above.

[2018-06-20 10:46] #56 closed

[2018-06-30 17:10] assafushy opened #58 "Reporter is not a constructor - error"
hi,
tried to add the package as explained getting this error :

![image](https://user-images.githubusercontent.com/7502687/42127446-84c59fcc-7ca1-11e8-9863-294ea7301a7d.png)

this is my pachage.json with the jest config:

![image](https://user-images.githubusercontent.com/7502687/42127451-a8b134b4-7ca1-11e8-9525-a293cda6866d.png)

help anyone?

[2018-06-30 17:17] palmerj3 commented on #58
@assafushy hey! Sorry about that.

Can you just give me some more details?

Specifically I'm gonna need your OS, node version, jest-junit version, and jest version.

Thanks

[2018-06-30 20:46] assafushy commented on #58
hi thnks...

windows 10
node 8.11.1
 "jest": "^23.2.0",
"jest-junit": "^4.0.0"

[2018-07-01 00:34] palmerj3 commented on #58
@assafushy so the issue is that you're using jest-junit 4.x and that version still relied on it being used as a testResultsProcessor.

You'll need to upgrade to version 5.x in order to use jest-junit as a jest reporter.

[2018-07-01 00:34] #58 closed

[2018-07-01 10:09] assafushy commented on #58
thanks a lot  - i upgraded and ran.
now i get this error at the end of the run
![image](https://user-images.githubusercontent.com/7502687/42133272-fb0d3f4e-7d2f-11e8-97a5-6fb8d0ade932.png)

[2018-07-01 10:16] assafushy commented on #58
updated the depracted command.
still get the max call stack error

[2018-07-01 10:37] palmerj3 commented on #58
I can't reproduce that so I think that's most likely an error on your end.

One thing to try: remove the "<rootDir>/junit.xml". jest-junit currently doesn't support the "rootDir" syntax that jest does. It likely will in future versions but it currently does not. So windows might be having an issue creating a directory name like that.

[2018-07-01 19:45] palmerj3 commented on #58
Googling is probably your best option for that. i'm not super familiar with jenkins.
https://jenkins-le-guide-complet.github.io/html/sect-first-steps-metrics.html

[2018-08-15 22:20] jdcrensh opened #60 "classNameTemplate not working"
The config option for classNameTemplate doesn't seem to work when using a function.

jest reporters:
[code]

test file (also tried wrapping with `describe('App', () =>`):
[code]

junit.xml
[code]

Expected value of `classname` to be uppercased.

However, it does work when using a string, eg:

[code]

jest reporters:
[code]

[2018-08-16 01:59] agalpin commented on #43
Jenkins junit plugin appears to require it in local else you get the following error message.
This is when the local time is set to a time zone that is say +8 - +13

[2018-08-16 13:27] palmerj3 commented on #60
@jdcrensh thanks for taking the time to submit an issue!

I am unable to reproduce this, unfortunately. Can you let me know some details of your setup? OS, Node Version, Yarn/NPM version would be helpful. Also let me know what version of jest-junit you're using.

Using the latest version of jest-junit with the following jest.config.js

[code]

Gives this result with a local test suite

[code]

[2018-08-16 20:57] jdcrensh commented on #60
Thanks palmer, here's some more info:

[code]

[2018-08-20 15:43] palmerj3 commented on #60
@jdcrensh could you put together a sample repo where this issue is reproduced?

[2018-08-23 04:42] jdcrensh commented on #60
@palmerj3 sure, i'll put one together when i have the time, maybe this weekend.

[2018-09-11 00:48] #60 closed

[2018-09-12 17:27] Vivalldi opened #61 "Templated output"
It would be great if we could template the name of the output file.

That way projects that utilize yarn workspaces can set a single output dir with changing titles
[code]

[2018-09-13 17:03] palmerj3 commented on #61
Cool idea!

Do you see this as being workspace-specific or something that could be used more generally in systems like lerna?

Feel free to submit a PR!

[2018-09-13 18:14] Vivalldi commented on #61
I don't think it would be workspace specific. Definitely something that could be used by learn or even someone who has a custom way oh managing a monorepo. While tinkering around with the idea I thought of something else that might go along with this/be a better option.

Implement a `JEST_JUNIT_OUTPUT_DIR` and a `fileName` option that allows for multiple suites to be run using a single output dire

[2018-09-13 18:14] Vivalldi commented on #61
I can play around with the `OUTPUT_DIR` idea some this weekend.

[2018-09-19 10:21] QuantumInformation opened #63 "Jest configuration are not currently supported by Create React App: • testResultsProcessor"
If we add

[code]
we get this

Out of the box, Create React App only supports overriding these Jest options:

  • collectCoverageFrom
  • coverageReporters
  • coverageThreshold
  • snapshotSerializers.

These options in your package.json Jest configuration are not currently supported by Create React App:

  • testResultsProcessor

[2018-09-21 15:43] #61 closed

[2018-09-28 14:46] IIFE commented on #49
Any news on this?
It will be very useful when working in a monorepo, where instead of having to define the output of jest-junit in the jest.config for each project, it can be defined in the base jest.config, in the form of:
reporters: [ "default", ["jest-junit", { "output": "<rootDir>/test-results/result.xml" }] ]

This will work because in a monorepo rootDir will be referring to the project under

[2018-09-28 14:54] SimenB commented on #49
PR welcome! 🙂

[2018-09-29 18:48] #49 closed

[2018-10-19 06:17] rattrayalex-stripe opened #68 "Not working with projects?"
Hi,

Jest now has the ability to specify multiple projects: https://jestjs.io/docs/en/configuration.html#projects-array-string-projectconfig

When I try to use this with jest-junit, I don't seem to have any junit files generated. No errors are thrown.

As a workaround, I'm running each project separately in CI with `--config` settings, eg;

[code]

I haven't done any digging into why this may be h

[2018-10-19 16:09] SimenB commented on #68
I think this is related to https://github.com/facebook/jest/issues/5441

[2018-10-19 17:20] rattrayalex-stripe commented on #68
Seems pretty plausible; thanks @SimenB .  Looks like that's been aging for a while without a concrete plan for action; sounds a little tricky.

[2018-10-23 20:04] IanVS commented on #26
Seems like the proposal over at jest stalled out?  https://github.com/facebook/jest/issues/5958

I believe this issue was causing my CI to "pass" when really I've had ~~failing~~ erroring tests for who-knows-how-long (we ignore jest's exit status so that other tests always execute as well).

[2018-10-23 21:29] palmerj3 commented on #26
All tests are included in junit's output. The issue is that jest itself does not differentiate between "error" and "failure". Everything is "failure" for jest unless a test passes or is skipped.

So I think what you're experiencing is something else entirely.

But if you're interested in a WIP PR for jest to do a better job classifying error vs failure then follow this one I submitted today: https

[2018-10-24 02:39] IanVS commented on #26
I think I have the same situation as the OP, who said:

This is my situation as well.  The tests which errored don't show up in the output at all.  Perhaps it's due to a different problem than what you thought it was?

[2018-10-24 07:49] palmerj3 commented on #26
Hmm interesting. @IanVS can you put together a repo that reproduces this?

If so I can take a look. I haven't seen this behavior at all personally.

[2018-11-14 08:12] seniorquico commented on #63
I added the following configuration block to our create-react-app@2 project's `package.json` file:

[code]

Unfortunately, that fails with the following error:

[code]

Our test suite runs just fine with `yarn run test`, but obviously produces no coverage. I also tried the example CI command from the README:

[code]

That produces a `junit.xml` file, but it yields incorrect results due to the miss

[2018-11-14 08:49] seniorquico commented on #63
D'oh! I wasn't paying close enough attention... my mistake was dropping jest-junit into `coverageReporters` (as opposed to `reporters`).

Echoing OP, create-react-app@2 does not support a custom `reporters` configuration in `package.json`. Interestingly, both of the following commands work:

[code]

I didn't think create-react-app allowed options to be specified on the command line. Oh well, I get

[2018-11-14 09:19] QuantumInformation commented on #63
Yeah I don't like the  deprecation notice

[2018-11-14 12:58] palmerj3 commented on #63
CRA is very limiting with the configurations it allows folks to override. That's out of the control of jest-junit.

jest-junit is a reporter so it needs to be used that way. I would say if CRA isn't supporting jest-junit properly for you as-is then eject. It seems to work fine within Spotify with any CRA-based app.

[2018-11-14 12:58] #63 closed

[2018-11-14 13:01] palmerj3 commented on #68
jest-junit itself does not rely on globalSetup or globalTeardown. But reporters are configured globally, not on a per-project basis. So I would suggest having a top level jest config that specifies the projects and the reporter(s) you want to use. Or specify the reporters via cli args.

At Spotify jest-junit is used widely with multiple project jest configurations.

[2019-01-11 12:58] nicolasschabram opened #74 "Jenkins test result report broken after upgrading to v6"
After upgrading to [v6](https://github.com/jest-community/jest-junit/releases/tag/v6.0.0), Jenkins/xUnit fail to read the test result reports (complaining about the `file` attribute in `testcase`):

I guess it has to do with https://github.com/jest-community/jest-junit/pull/71.

Anyone else experiencing this problem?

---

Jenkins: v2.150.1
xUnit plugin: v.2.3.2

[2019-01-11 13:15] palmerj3 commented on #74
@nicolasschabram thanks for reporting. I may roll back that change if it's broken on jenkins. For now please use v5 but I'm going to leave this issue open for a bit to see if others hit this problem.

[2019-01-11 15:36] palmerj3 commented on #74
Hey @nicolasschabram I have rolled back this change and published 6.0.1. Would you please test out this version on your pipeline and let me know if it works?

[2019-01-11 21:31] #68 closed

[2019-01-14 08:53] nicolasschabram commented on #74
It does, thank you very much! @palmerj3

[2019-01-14 12:02] palmerj3 commented on #74
@nicolasschabram cool I will close this. If you don't mind I will ping you in the next few days when we re-add this functionality as a configuration option. It's always useful if I have some folks that can test it in their environment.

[2019-01-14 12:02] #74 closed

[2019-01-14 12:40] nicolasschabram commented on #74
Sure, happy to help! Thanks!

[2019-01-21 11:58] jazpearson opened #78 "License file is not correct"
The license file for this package isn't quite right..... Looks like you need to update it to correctly tell people the year and name of copyright owner....

[code]

[2019-02-07 15:08] MRolandd opened #85 "Junit log errors"
How to display syntax errors in Junit log? Or exactly how does the` <error>` tag appear? If I fail a test it is a` <failure>`.
In PHP unit the` <error>` tag appears when There is a syntax error

[2019-02-07 15:25] palmerj3 commented on #85
@MRolandd currently jest does not differentiate between an "error" and a "failure" so currently that portion is unused.

It's a feature I've wanted to add to jest for a while and eventually will do - it's a bit complex of a change in jest to make that happen.

[2019-02-07 15:33] MRolandd opened #86 "@MRolandd currently jest does not differentiate between an "error" and a "failure" so currently that portion is unused."
@MRolandd currently jest does not differentiate between an "error" and a "failure" so currently that portion is unused.

It's a feature I've wanted to add to jest for a while and eventually will do - it's a bit complex of a change in jest to make that happen.

_Originally posted by @palmerj3 in https://github.com/jest-community/jest-junit/issues/85#issuecomment-461467961_

Ok, then it is a way to

[2019-02-07 15:33] #86 closed

[2019-02-07 15:34] MRolandd commented on #85
Ok, then it is a way to parse syntax errors from the code as failures? If I have a syntax error my log file is empty. Just with an empty

[2019-02-07 16:02] palmerj3 commented on #85
Well syntax errors and other non-recoverable errors like this result in jest not even successfully parsing  the test file. So, in this case, a reporter (any reporter) wouldn't get enough useful information to be able to generate a report.

jest-junit, in particular, would need to know the describe and/or it block names otherwise we'd be reporting on failures/errors on some generated id and you mig

[2019-02-08 07:07] MRolandd commented on #85
Thank you for your reply. It really helped about this issue.

[2019-02-08 07:07] #85 closed

[2019-02-14 20:41] ankitkadali commented on #63
i am using this configuration in my package.json file. But while i add jest-junit key in the package.json file to configure testsuiteName in the junit.xml file; the xml still uses default describe string rather it should use the filepath
  "scripts": {
        "start": "react-scripts start",
        "build": "react-scripts build",
        "test": "react-scripts test --env=jsdom",
        "test:cov

[2019-02-14 20:47] ankitkadali opened #87 "Cannot change junit xml testsuite attributes"
i have my package.json as below:

[code]

But junit-xml file still uses the default string present in describe() of test cases. can you help me how can i configure junit-xml file.

[2019-02-14 21:45] palmerj3 commented on #87
@ankitkadali I'm not able to reproduce this. I just created a CRA app locally, added jest-junit, and used the following configuration in my package.json and it works fine.

Please create a separate repository showing the issue if you believe this is a legitimate problem.

[code]

[2019-02-15 14:50] ankitkadali commented on #87
Thank you for your response @palmerj3. I found the way out . instead of
"test": "**react-scripts test --ci** --reporters=default --reporters=jest-junit",
i was using : react-scripts test --env=jsdom

But right now after the change i made, it is causing one of my test case to fail which passed successfully using without jest-junit. Is there any possible issue with the following test case while usin

[2019-02-15 14:56] palmerj3 commented on #87
It's beyond the scope of jest-junit for this, I believe.

But my thought is that you need to include the --env=jsdom bit as well since it appears you removed it.
I would recommend you post on stackoverflow for debugging your test case.

Going to close this issue - good luck

[2019-02-15 14:56] #87 closed

[2019-02-15 15:09] ankitkadali commented on #87
Thanks @palmerj3 . I got the way out !! jest-junit needs --ci for its configuration

[2019-03-04 12:52] p00j4 commented on #46
The setup fails with module errors but the xml generated says, all is fine.

<img width="794" alt="screen shot 2019-03-04 at 5 58 00 pm" src="https://user-images.githubusercontent.com/12966925/53733550-518a7600-3ea7-11e9-9edf-3e4309ec3c17.png">

[code]

[2019-03-07 16:09] manuel-woelker commented on #46
Currently experiencing the same issue with jest-junit 6.3.0

[2019-03-11 15:00] MRolandd opened #89 "console.log not outputing in XML"
I created a jest config file that looks like this:

[code]
(I write it dynamically for each test).

and my jest exec cmd is :` "$(npm bin)/jest --testRegex MainTest.js --findRelatedTests $test_file --config=$conf_file --globals --json --rootDir=$rootDir --notify 2>&1"`

I tried different thing but couldn't get console.log to show an output. Something like PHPUnit has with
` <system-out>output prin

[2019-03-11 15:59] palmerj3 commented on #89
Closing since this is a duplicate of https://github.com/jest-community/jest-junit/issues/45

[2019-03-11 15:59] #89 closed

[2019-03-11 16:07] palmerj3 commented on #45
I'm looking at this now and it appears to be doable however the spec we abide by appears that system-out is associated with a test suite (which for jest would be an individual test file with many test cases). Would that be useful?

I am going to make a PR for the fun of it which adds this and get your feedback.

[2019-03-11 16:38] SimenB commented on #45
Note that it doesn't buffer when `--silent` is passed. Should be fixed, but worth to note

[2019-03-11 16:55] palmerj3 commented on #45
I've submitted a PR which adds this functionality. Please give me your feedback when you can. I'll leave it open for a few days before merging if there is no feedback.

https://github.com/jest-community/jest-junit/pull/90

[2019-04-01 02:10] Godrules500 opened #91 "Not reading jest.config.js"
Hello, I have setup my jest to use the jest config, however jest-junit is ignoring it and using all default values. However if I add it to the package.json it works. Is there something I need to do to have it point to the jest config and not the package.json?

I copied and pasted what was in the instructions

[2019-04-01 10:42] palmerj3 commented on #91
Please provide a gist of your jest.config.js so I can see what the issue is

[2019-04-01 12:15] Godrules500 commented on #91
Nevermind! figured it out. I was using jest --ci --reporters=default --reporters=jest-junit which was probably overriding the jest.config.js settings.  Changed it to jest --ci and all works!

Amazing what a fresh start does. 30 second versus 4 hours lol.

[2019-04-01 12:15] #91 closed

[2019-04-03 08:38] jkblume commented on #46
Yes, experiencing the same with 6.3.0 - is there a release/version where this was resolved?

[2019-04-03 09:04] palmerj3 commented on #46
This is a known limitation of jest and not an issue with jest-junit. If a test suite fails to run then reporters are given very limited information. Not enough for me to be able to write to the xml, "hey test suite blah with test foo failed". If there was a syntax error or something else which prevents jest from even executing the test suite then reporters aren't given enough detailed information

[2019-04-03 09:11] jkblume commented on #46
okay. thanks for the information. i hoped for a solution like in other junit runners or reporters: If a test run fails, because of an syntax error, the junit xml report 'simply' does not get generated and i can use the stdout of the test runner to get information for the error.

[2019-04-03 09:19] palmerj3 commented on #46
@jkblume can you give me more information on that? What other junit runners are you referring to? And is jest-junit somehow blocking this information? You still see the test failures in stdout/stderr.

[2019-04-03 09:56] jkblume commented on #46
@palmerj3 I am referring to runners in other languages, like in python (unittest-xml-reporting).

We need to further process the xunit xml to parse for informations we need to provide to our users on a test run (like a ci is doing it). Until now, is was enough to just look, if the test runner is generating a xml unit file. If it was generated, we can use the content, otherwise, we used the stdout/

[2019-04-03 12:24] palmerj3 commented on #46
Cool thank you!

So I'm hesitant to take this approach since many CI providers will only give you test feedback (passed/failed) if a junit file is generated. It sucks that those numbers won't always be accurate for the edge cases where a test file cannot be parsed but jest itself will always exit 1 in that case so any status checks will fail.

I'm going to table this for now but thank you for post

[2019-05-02 15:00] TonyG623 commented on #45
@palmerj3 I see the PR was merged. Just added the varaible to my jest config as shown:

[code]

[2019-05-03 07:49] simonsen78 commented on #45
I also tried it, same as @TonyG623, and saw no output in my XML report.

[2019-05-03 09:43] palmerj3 commented on #45
Hmm thanks for reporting. Can you both tell me the version(s) of jest you're running this against?

[2019-05-06 06:58] simonsen78 commented on #45
Not sure if this is related, but could it be a Windows vs. Linux path thing somewhere in your code?

Tried cloning the repo and running the tests. Got a bunch of these errors:
[code]

[2019-05-06 15:40] kevinbarabash opened #93 "Add option to output xml to stdout"
I'm working on a project that has some custom tooling around running tests and being able consume junit output via stdout would make things a lot easier.  Would you be interested in a PR to add an option to send output to stdout instead of a file?

[2019-05-21 16:52] jkblume commented on #45
Hi there, join the discussion again and hope i can help a little bit more this time.
Actually we want to test a react project but for testing purpose i created a minimal project setup here:
https://github.com/jkblume/simple-app

Steps to reproduce the error:
- Clone the project and step into it
- ```npm install```
- ```npm run test```
- Check junit.xml does not contain the expected stdout that is

[2019-05-28 19:15] jkblume commented on #45
I dived a little bit into jest core code and found that ReportDispatcher overrides .console property with undefined. I opened an issue to discuss this: https://github.com/facebook/jest/issues/8499

[2019-07-22 20:44] jb-brossard opened #95 "Add Test steps to add granularity to the test report"
I would like to know if it would be possible to add more granularity in the junit.xml report. I would like to list the test step each test need to go through. So that, in my report, i could see all the step that happen and get the context right away if there is a failure. Is this something possible ?

I try to add assertion at each steps and also just do a test for each step. But it doesn't work.

[2019-07-22 20:51] palmerj3 commented on #95
Hey @jb-brossard! Probably the best bet would be to include more output in the generated xml files.

One path you can take is enabling console support via the "includeConsoleOutput" option.

Aside from that that's about the best the junit spec can offer - it's really a format more for giving you information about what tests passed/failed and not much more.

[2019-07-22 21:31] jb-brossard commented on #95
Hey @palmerj3  thank you for the quick answer, I am trying the option includeConsoleOutput, But i am not seeing anything in the junit.xml.   I setup in my terminal: `JEST_JUNIT_INCLUDE_CONSOLE_OUTPUT="true"` and I tried on the package.json:

[code]
Also, I came across this post :
https://stackoverflow.com/questions/46496723/adding-metadata-to-testdroids-junit-xml

and it seem they are adding prope

[2019-07-22 22:09] palmerj3 commented on #95
Yeah junit.xml properties is another way to go. They are generic key value pairs that you can use. But there isn't a great use-case for them in jest-junit since it would need to apply to everyone.

If you do end up adding properties what I would suggest is decorating the junit.xml that jest-junit generates and add properties to it.

[2019-07-23 17:37] brownbl1 commented on #45
Is there an update on this? I'm seeing the same behavior? Did any of you find a workaround?

[2019-07-23 20:30] palmerj3 commented on #45
Hey sorry for the radio silence on this one. It's somewhat complex.

I believe I have a fix for jest to re-enable this functionality. Will link the PR here shortly and hopefully it's approved.

[2019-07-23 21:52] #45 closed

[2019-07-23 21:56] palmerj3 commented on #45
I just published jest-junit 7.0.0 with a fix that should now allow for console output to be written to junit.xml.

A few caveats (due to breaking changes in jest):

1. You must have at least 2 test files in order for console output to be sent to jest-junit
2. You cannot set verbose to true in jests config

[2019-07-23 23:45] SimenB commented on #45
Both of those caveats are bugs in jest... (https://github.com/facebook/jest/issues/6441 sorta relates, but reporters should always get console output regardless of silent/verbose - it should decide itself based on those options whether to print it or not)

[2019-07-24 12:21] palmerj3 commented on #95
@jb-brossard please try jest-junit version 7.0.0 (just published yesterday) to include console support. You'll need to have at least 2 tests and not use verbose mode in jest. Going to close this issue for now.

[2019-07-24 12:21] #95 closed

[2019-07-24 12:23] palmerj3 commented on #93
I am so sorry for not responding to this sooner!

Could you give me some more details around this? So far this is the first request I've gotten for this functionality so I'm thinking it would not be heavily used.

[2019-07-24 12:54] palmerj3 commented on #78
Fixed!

[2019-07-24 12:54] #78 closed

[2019-07-24 13:03] #43 closed

[2019-07-25 02:26] kevinbarabash commented on #93
Actually I ended up not needing this.

[2019-07-25 02:26] #93 closed

[2019-07-31 22:19] cisum-la opened #97 "Shorten output of the newly implemented console logging junit xml"
Recently console logging was implemented as part of 7.0.0 , We really like this feature and are about to add it to our test suite. However, we noticed that currently the logged object is unnecessarily long with redundant info, see below:
{
    "message": "2019-07-31 15:02:50:360 WorkerID:1 \u001b[32minfo\u001b[39m: Generated headers for account \n",
    "origin": "/Users/s/Documents/dev/qa-automat

[2019-07-31 22:42] palmerj3 commented on #97
Hello! I would be open to there being an additional option that shows a shortened output possibly.

Would you want to submit a PR to add this?

[2019-07-31 23:00] cisum-la commented on #97
Thanks for your quick response! Yes, will create a PR with a new environment and config variable respectively in the next few days which includes the above discussed change:

JEST_JUNIT_INCLUDE_SHORT_CONSOLE_OUTPUT | includeShortConsoleOutput

[2019-07-31 23:02] palmerj3 commented on #97
Thanks!

[2019-08-07 16:37] cisum-la commented on #97
On further investigation - it turned out that in the case of Winston logger + jest (that we use internally here), the 'origin' key is always same -   "/Users/s/Documents/dev/qa-automation/node_modules/winston/lib/winston/transports/console.js:79", but when we use regular console logger then the origin key correctly lists the file:line_number where the console.log was used. I have reported this iss

[2019-08-07 17:08] palmerj3 commented on #97
Ah ok - thanks for the update!

[2019-08-13 09:06] basickarl opened #98 "Configure directory for output xml file?"
I'm just curious, I can't find any examples or documentation on how to output the generated test-results.xml to a specific directory. Is this possible?

[2019-08-13 09:18] palmerj3 commented on #98
The third option in the [configuration table list](https://github.com/jest-community/jest-junit#configuration). JEST_JUNIT_OUTPUT_DIR, outputDirectory.

[2019-08-13 09:18] #98 closed

[2019-08-13 09:19] basickarl commented on #98
@palmerj3 Oh. My. God. What a miss on my  behalf, so sorry!

[2019-08-19 16:09] adamchenwei opened #99 "How to let the report contain screenshot been taken by puppeteer?"
or even the screenshot taken at the end of each test / test failure?
Assume the screenshot already been taken by puppeteer...
I am not really sure if its something has to been done inside jest or somewhere else?

Thanks

[2019-08-19 16:42] palmerj3 commented on #99
To be compliant with all junit spec's you would have to include a property to the testsuite. There are no properties for each test case so you wouldn't be able to associate a link to an image with each test case..

Therefore I don't think that's appropriate functionality to live in jest-junit.

[2019-08-20 00:01] adamchenwei commented on #99
@palmerj3 I try to use Allure to load the junit report generated by jest-junit. Would you have any idea on how the end of test image snapshot wire into Allure reading the junit report generated by this library has anything to do with junit spec or its more of an Allure specialty?

[2019-08-20 01:38] palmerj3 commented on #99
@adamchenwei I don't know the answer to that but let me see if one of my colleagues does. I'll see if they can comment on this because I know they use a very similar testing stack. Hang tight.

[2019-08-21 01:39] jaysirju commented on #99
The allure modules has methods to attach screenshots to the report itself.  If you are using the [jest-allure](https://github.com/zaqqaz/jest-allure) module, you can call reporter.addAttachment() from the test code itself.
`            const screenshotBuffer = await page.screenshot();
            reporter.addAttachment("Screenshot", screenshotBuffer, "image/png");`

[2019-08-21 04:46] #99 closed

[2019-08-21 06:57] steve-taylor commented on #98
Does it not also work as a command line option?

e.g.

[code]

[2019-08-26 17:28] alde opened #100 "Unable to specify only 'outputName'"
If only specifying `outputName` to change the name of the file, this value gets ignored.

This is because there's a strict check on `outputDirectory` being null (which is the default value)

This can be confusing, as if you just want to rename the file, you wouldn't necessarily think about setting the directory as well.

[2019-08-26 17:39] #100 closed, assigned to nobody

[2019-08-28 10:19] tusbar opened #102 "Invalid changelog property name"
`outputDir` is invalid in the [8.0.0](https://github.com/jest-community/jest-junit/releases/tag/v8.0.0) changelog – it should say `outputDirectory`.

[2019-08-28 10:35] SimenB commented on #102
Thanks for reporting, updated it

[2019-08-28 10:35] #102 closed

[2019-09-20 19:35] ajerco commented on #1
Getting this error trying to install.
`node --version 6.11.3`
`npm install jest`
`npm install jest-extended`

[2019-10-02 22:14] supernomad opened #103 "Negative test suite timing"
I am currently seeing some issues running jest with the jest-junit reporter. I am getting a junit xml file back that is properly formatted but contains invalid data for instance I am seeing this:

[code]
Notice the `time="-11770557.774"` bit and the fact that it can't possible have a negative number for the amount of time a test took.

This is just one example and at fist I thought it was just bec

[2019-10-02 22:29] palmerj3 commented on #103
@supernomad thanks for reporting! This is the first time I've heard of this happening.

Could you please create a repository that reproduces this issue and link to it in this thread?

I'll need that in order to investigate this.

[2019-10-02 23:23] supernomad commented on #103
Unfortunately I have no time to do that, and this particular bug is rather perplexing I manually edited the module locally with the change proposed in the attached PR and this problem has effectively gone away. Although not ideal I do not believe that this particular bug is within jest-junit but jest itself or some combination there of.

[2019-10-03 04:25] supernomad commented on #103
this ended up being due to an erroneous jest mock of the `Date.now` function :man_facepalming:

[2019-10-03 04:25] #103 closed

[2019-10-09 15:25] dagda1 opened #105 "reporter options are blitzed if one of the properties of the options object is a function"
If I pass these options based on the example in the README

[code]

And I log the options in the `JestJunit` constructor function, it logs this:
[code]

So the function gets blitzed because I guess `JSON.stringify` is called somewhere.

Did this ever work?

[2019-10-09 18:40] palmerj3 commented on #105
Thanks for reporting! I can have a look tomorrow and see. It should be working - we do have a test to make sure this continues to work.

https://github.com/jest-community/jest-junit/blob/master/__tests__/buildJsonResults.test.js#L58

But I will take a deeper dive tomorrow and try to give you more info.

[2019-10-09 19:27] dagda1 commented on #105
@palmerj3 thank you so much.

I don't think that test will help, you are directly merging in the `classNameTemplate` function.  This is almost like it is happening before it actually gets to the `JestJunit` constructor function.

If you look at my report above, something is happening between jest reading my projects `jest.confg` and it reaching the `JestJunit` constructor function.

Your test will

[2019-10-09 21:42] dagda1 commented on #105
@palmerj3 I just created a test repo for this bug and found out it is not a bug :).  I hope I have not wasted any of your time

[2019-10-09 21:42] #105 closed

[2019-10-10 03:54] palmerj3 commented on #105
No worries thanks for doing that! Take care.

[2019-10-11 00:11] bencooper222 opened #106 "Is there a good way to use this with projects?"
This reporter works with the jest projects array but all that happens is the last project to run overwrites the file. I'd either like it to append to the original file or create separate files. Is there a way to do this?

[2019-10-11 04:02] palmerj3 commented on #106
Can you provide a sample repo that shows this happening?

jest-junit has been used in multi-project environments and I haven't heard of the junit.xml file being overwritten.

[2019-10-17 15:31] andreabisello opened #107 "jest-junit hangs jest if not executed from the project root"
on a updated windows 10 64bit,
with node 10.16.3,
with jest 1.20,

with a very simple test
[code]
with this jest.config.js file

[code]
if i run "jest" from the root of the project,

test pass and jest quit creating the xml.

if i run from external path, jest pass the test, then it hangs.

![image](https://user-images.githubusercontent.com/2149815/67023881-cc856180-f103-11e9-926d-a15146529e82.png)

[2019-10-17 18:18] palmerj3 commented on #107
Thanks for reporting!

Let me see if I can reproduce this locally..

[2019-10-17 19:01] andreabisello commented on #107
i think the problem is related to some writing permission on c:\, because https://www.npmjs.com/package/jest-bamboo-reporter warns me about the reporter cannot create the xml on c:\ , but jest-junit hangs.

can you try on a windows machine?

so i tried moving on another folder, but nothing changed.

it works only if i run jest from the repository folder.

tomorrow i will share a repository.

[2019-10-17 19:32] palmerj3 commented on #107
I don't have access to a windows machine

[2019-10-17 19:58] palmerj3 commented on #107
On my local machine I set the working directory to read only so it wouldn't be able to write the junit.xml file. It does not hang and it errors out with the error:

`Error: EACCES: permission denied, open '/Users/jpalmer/Desktop/test/junit.xml'
`

[2019-10-18 06:52] andreabisello commented on #107
@palmerj3
this is the repository
https://github.com/andreabisello/jest-junit-example

clone it, run npm install, run jest from the project root.
then move on c:\ and run

C:\>jest --config C:\src\jest-junit-example\jest.config.js --rootDir C:\src\jest-junit-example\

![image](https://user-images.githubusercontent.com/2149815/67072147-8b816180-f184-11e9-91ce-484b30b6d92f.png)

it hangs.

this weeke

[2019-10-18 11:03] palmerj3 commented on #107
Thank you!

Unfortunately I still get the exact same behavior: an immediate error that i'm unable to write junit.xml.

Definitely going to need more information from you about your machine configuration before i can consider this a bug and investigate further.

[2019-10-19 13:15] andreabisello commented on #107
@palmerj3 my home computer has the same problem of the work computer

![image](https://user-images.githubusercontent.com/2149815/67145624-311afa80-f283-11e9-807c-22b09bb1f90d.png)

![image](https://user-images.githubusercontent.com/2149815/67145641-50198c80-f283-11e9-84b4-c6374f6c55ab.png)

[2019-10-19 13:24] palmerj3 commented on #107
Ok I won't be able to move further on this until I can get a windows PC to test it on. Let me see if I can get one next week to use.

[2019-10-22 13:51] andrcuns commented on #106
@bencooper222 as per discussion in #108, if You have multiple projects, You simply need to prefix test run command with appropriate env variable, `JEST_JUNIT_OUTPUT_NAME=project_1.xml npm test...`, `JEST_JUNIT_OUTPUT_NAME=project_2.xml npm test...` so each run generates it's own xml file.

[2019-10-22 17:23] bencooper222 commented on #106
ahhhh thanks so much @andrcuns

[2019-10-22 18:36] #106 closed

[2019-11-20 13:56] luchsamapparat opened #110 "Why is uniqueOutputName not a boolean value?"
Hi,

I was wondering, why is `uniqueOutputName` not a boolean option? Currently, it requires the string value `'true'`. When setting it to boolean `true`, it does not work.

https://github.com/jest-community/jest-junit/blob/master/index.js#L28

Is this by design or a mistake?

[2019-11-20 13:57] SimenB commented on #110
It's probably to work when passed as and environment variable. Seems like a bug though. @palmerj3?

[2019-11-20 14:00] palmerj3 commented on #110
"Boolean" values in jest-junit are handled this way so we can share the same setting key between environment variables, package.json config, reporter config, and CLI args.

Not a bug but also not the prettiest thing, I agree.

Feel free to submit a PR if you can think of a nicer way of handling this!

[2019-11-25 22:13] #97 closed

[2019-11-28 09:40] maxkomarychev opened #112 "addFileAttribute doesn not seem to be working"
I was trying to make time splitting to work on circle ci and `addFileAttribute` does not work
jest-junit: ^9.0.0
I have this test file
[code]
and

reporters in jest:
[code]

the output I am getting:

[code]

[2019-11-28 09:48] maxkomarychev commented on #112
oh...it has to be a string

[2019-11-28 13:26] palmerj3 commented on #112
Yep has to be "true"

[2019-11-28 13:26] #112 closed

[2019-12-02 00:36] JoelBrenstrum opened #114 "Stack trace in reporter isn't a relative path"
Jest CLI output:
`at Object.<anonymous> (src/client/reducers/pages/xxx.test.js:1324:26`

Jest-Junit output:
Local:
`at Object.&lt;anonymous&gt; (/Users/joelbrenstrum/Development/Projects/xxx/xxx/src/client/reducers/pages/xxx.test.js:1324:26)`
Azure Dev Ops:
`Object.<anonymous> (/home/vsts/work/1/s/xxx/src/client/reducers/pages/xxx.test.js:1060:72)`

Is it possible to get the relative path put into

[2019-12-02 01:31] palmerj3 commented on #114
Hey @JoelBrenstrum! Thanks for submitting an issue.

This functionality is not built into jest-junit at the moment. The stack traces are simply taken from jest and written to a file.

But if this is something you need I would suggest you submit a PR adding a new option to jest-junit.

[2019-12-02 21:02] JoelBrenstrum commented on #114
Hey @palmerj3 thanks for the quick reply.

I can have a look at doing that. Anything specifics you would like for the implementation?
I was thinking we could use the rootDir config variable and normalize the path back to that.

[2019-12-02 21:24] SimenB commented on #114
Jest's implementation lives in https://github.com/facebook/jest/blob/master/packages/jest-message-util/src/index.ts if you want some inspiration

[2019-12-03 09:18] boyanio opened #116 "jest-junit does not write compilation errors using ts-jest"
I am using the `ts-jest` transformer, so that I can write specs in TypeScript. However, if there are compilation errors, they are not written to the `junit.xml` file. The default Jest reporter does write them to the console.

![image](https://user-images.githubusercontent.com/980463/70037030-87879280-15be-11ea-8cbe-a715f89f6f2c.png)

[2019-12-03 10:30] palmerj3 commented on #116
Please create a repo where I can easily reproduce this issue and I'll look into it

[2019-12-03 11:28] boyanio commented on #116
Hi @palmerj3 Thank you for the quick reply - [here is the repo](https://github.com/boyanio/jest-junit-compilation-errors-issue)

[2019-12-03 18:50] palmerj3 commented on #116
Thanks @boyanio!

Like I suspected - the issue is that jest does not provide enough info when a test suite completely fails to execute in order for me to responsibly generate a junit.xml file.

Here is [a gist](https://gist.github.com/palmerj3/9d836663e693fb8948087c741320b5d1) of the data jest-junit receives from jest for your sample repo.

For a junit.xml file you expect that test suites and test

[2019-12-03 18:50] #116 closed

[2019-12-05 00:13] rattrayalex-stripe commented on #46
@palmerj3 can we reopen this ticket? It's quite a surprising and unfortunate failure mode. I think the issue was closed because the PR to fix it was opened, but that PR didn't end up getting merged.

[2019-12-05 00:59] palmerj3 commented on #46
I closed the ticket because it is not fixable. If jest fails to run a test file then jest-junit is not given any information about the test suites within or the test cases within said file. So I don't have enough information in order to generate a junit.xml file that says "Test suite x,y,z failed".

[2019-12-05 01:26] rattrayalex-stripe commented on #46
Ah, sorry I misunderstood the timeline.

It's certainly true that it's impossible to generate a junit.xml file that says "Test suite x,y,z failed" by the very nature of the bug.

However, I'm not sure that this is a necessary product requirement for this bug; users wish for their CI to fail and provide a clue as to where to look, and are likely to accept that a list of test suite names can't be pr

[2019-12-05 01:30] palmerj3 commented on #46
I definitely see your point but given that jest-junit allows teams to configure the naming convention of their suite names (based on data passed to us from jest when it executes the suites) there is no way I could reproduce that if the file fails to execute.

So in that case users would have a junit.xml file with a test suite that doesn't match any test suites seen before. That's my main concern.

[2019-12-09 18:02] alsvader opened #117 "Is there a way to generate one file per each test?"
I want to know if there is a way to generate a xml file per each test. For example if I have the following files:
1.- MenuAppBar.test.js
2.- Alerts.test.js
I would like to get 2 xml files and not only one named junit.xml.

[2019-12-09 19:28] palmerj3 commented on #117
Hello!

jest-junit currently does not have an option to generate a separate file per test.

But the way you could do it is by setting up separate jest projects per collection of tests and then use the jest-junit reporter configuration to set a different output path per project.

Or you could write a bash script to invoke jest multiple times and set the jest-junit output path to something different

[2019-12-12 00:18] csganesh opened #118 "XML Format"
I would like to generate the unit test data in following XML format
<?xml version="1.0" encoding="UTF-8"?>
<testExecutions version="1">
<file path="src/plugins/device-management/__test__/devicedetails.test.js">
<testCase name="Feature when called with proper params then does somthing" duration="5"/>
<testCase name="Feature when called with wrong paramg then does nothing" duration="1"/>
</file>
</t

[2019-12-12 00:33] palmerj3 commented on #118
Hi @csganesh I think you're missing some information here. I'm unable to see the format you're referring to.

But jest-junit generates junit files according to [this xsd](https://github.com/jest-community/jest-junit/blob/master/__tests__/lib/junit.xsd) (Jenkins).

[2019-12-12 00:39] csganesh commented on #118
Today I am generating xml report in following format but my sonar is not accepting the format jest generated.

<testsuites name=“Project” tests="144" failures="1" time="12.617">
  <testsuite name="src/common/js/__test__/servicehelpers.test.js" errors="0" failures="0" skipped="0" timestamp="2019-12-12T00:32:21" time="1.728" tests="2">
    <testcase classname="&lt;Alert /&gt; should render correctly

[2019-12-12 01:12] palmerj3 commented on #118
jest-junit isn't designed to generate generic-test format. However sonarqube does support junit so if you choose to stick with jest-junit you should be able to use the files it generates.

See https://docs.sonarqube.org/pages/viewpage.action?pageId=1442166

[2019-12-12 01:12] #118 closed

[2019-12-12 01:13] #110 closed

[2019-12-12 22:23] asheq-svmx commented on #46
@palmerj3 Is there an open issue on the jest repo requesting the required information?

[2019-12-12 22:56] palmerj3 commented on #46
There isn't an issue with jest that I'm aware of filing this as a bug or a feature request. But the issue I'm linking here is probably the most relevant to the core of the problem.

https://github.com/facebook/jest/issues/6616

[2019-12-14 08:09] aaronhong commented on #91
@Godrules500 your answer helped a lot. Why does specifying the reporters on the CLI like `jest --ci --reporters=default --reporters=jest-junit` ignore the `jest.config.js` settings?

[2019-12-17 14:19] matsev opened #119 "Override jest-junit default output location?"
How can I override the default output directory and file name [jest-junit][1]?

I would like to customise the output configuration of  output when using Jest, but it still ends up in the default location, i.e. `./junit.xml` in the project root folder.

---
### My configuration

In _package.json_:

      "scripts": {
        "test": "jest --ci --reporters=default --reporters=jest-junit",
      },

[2019-12-17 14:33] palmerj3 commented on #119
Hi @matsev thanks for submitting an issue!

I am unable to reproduce this locally. When I copy your jest.config.js file and run a test suite I get the test_reports folder and a file named jest-junit.xml inside it.

Could you please create a repository on github where this issue is reproduced so I can look into this further?

Thanks!

[2019-12-18 09:00] matsev commented on #119
Thanks for the rapid response. I have created a GitHub repo that you can use for debugging:

https://github.com/matsev/debug-jest-junit-config

[2019-12-18 09:20] benophilipmathew opened #120 "Jest execution is not exiting on npx run without package.json file"
Hi Guys,

Recently I was setting up azure release pipeline for my jest tests and found that the task execution is not exiting while running jest through npx.  Later I found jest-junit reporter is causing this issue.

However, the interesting part is npx run with an empty package.json file will work as expected

Note - This is only happening with jest-junit package if we run without jest-junit it w

[2019-12-18 12:57] palmerj3 commented on #119
Thank you!

So the issue is that you specify reporters both in jest.config.js and in the cli for your "test" script in package.json.

If you remove `--reporters=default --reporters=jest-junit` from package.json it works as expected.

Jest prioritizes cli configuration so if you have that it will override any other option. And in this case it was overriding the "reporters" option.

[2019-12-18 12:57] #119 closed

[2019-12-18 13:00] palmerj3 commented on #120
@benophilipmathew Thank you for reporting this! I will take a look.

Can I ask: why do you have no package.json? In my experience this is not very common at all to see (e.g. relying a node_module without a package.json present).

[2019-12-18 13:24] palmerj3 commented on #120
I'm not able to reproduce this error locally using OS X. Are you running this on windows by chance? The only other mention of someone seeing jest-junit never exit was reported on Windows.

[2019-12-18 13:34] matsev commented on #119
@palmerj3 Thanks for taking the time to investigate this!

[2019-12-19 07:30] benophilipmathew commented on #120
Hello @palmerj3, Yes, I am running it on Windows (locally & build server).

I totally agree with you, this is not a very common scenario and I come across this while creating release pipeline for my frontend tests which is driven through puppeteer (where I want to test stuff after deployment and that's why I am copying only a few files, installing only required package and running it through npx)

[2019-12-19 09:21] palmerj3 commented on #120
@benophilipmathew I don't have a windows machine to test with, unfortunately, but I should have access to one after the holidays so I'll leave this issue open until then.

[2019-12-27 10:19] andreabisello commented on #107
@palmerj3 hi,
some news?
have a nice day

[2020-01-25 13:50] palmerj3 commented on #107
Sorry for the delays on this. I do now finally have a windows PC at home where I can test this. So I expect to have more attempts to reproduce this issue very soon.

[2020-02-17 16:15] dl748 commented on #46
I have this same issue, it is NOT a jest issue.  I've tried with the jest-trx-results-processor plugin and it correctly reports all the errors.  This plug does not report ANY errors and will always give a 100% success rate and not tell you the errors.

[2020-02-17 16:27] palmerj3 commented on #46
It's not exactly just a jest issue and not exactly just a jest-junit issue. A combination of both.

If your test suite fails to run and I write that information to a junit.xml file what would I write exactly? Jest does is not able to tell me what test suite(s) failed or what individual tests contain syntax errors (for example).

Only details I have as a reporter is what file path(s) failed to run.

[2020-02-20 18:07] mschnee opened #121 "Support Jest 25"
Using jest-junit as the only reporter
[code]

The following error is printed
[code]

This does not occur with other reporters:
[code]

[2020-02-20 18:33] palmerj3 commented on #121
Hey thanks for submitting an issue!

jest-junit is not a coverage reporter. It's just a reporter.

If you replace "coverageReporters" with "reporters" does it work?

[2020-02-20 19:31] mschnee commented on #121
Good question!  I'll give it a try.

[2020-02-20 19:32] mschnee commented on #121
Apparently it does :+1:

[2020-02-20 19:32] #121 closed

[2020-03-16 13:25] JimmyBjorklund opened #124 "Upgrade mkdirp to the latest version"
Upgrade mkdirp to the latest version due to:
https://github.com/advisories/GHSA-7fhm-mqm4-2wp7

I have added pull request for this but, it requires drop of node 8 support.

[2020-03-16 13:36] JimmyBjorklund commented on #124
If you dont want to drop node 8, this might work fs.mkdirSync using {recursive: true}

[2020-03-18 18:03] JimmyBjorklund commented on #124
npm WARN deprecated mkdirp@0.5.3: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x.

[2020-05-17 02:21] opiation commented on #124
`jest` has [dropped node 8 support][releases] for [v26.0.0][v26] so that's a good motivator for those still using node 8.  I guess this depends on what versions of `jest` the maintainers here want to consider _actively supported_.  Since jest v25 still supports node 8, it may yet be a while.

[releases]: https://github.com/facebook/jest/releases/tag/v26.0.0
[v26]: https://github.com/facebook/jest/

[2020-05-21 22:13] Blacktiger commented on #46
How about making this an option for people who _don't_ do any complicated configuration. Just drop the failed test suite name into the junit xml. If people don't like it, then they don't have to enable it.

[2020-06-06 22:34] dl748 commented on #46
I'm not sure how its a combination of Jest and JUnit, as other plugins that do the same thing have no problems with reporting this information.  I've had to remove this plugin and use another to get this information for now.

[2020-06-07 00:59] palmerj3 commented on #46
It's described pretty clearly in this thread if you read it

[2020-06-07 01:28] dl748 commented on #46
That's fine. I guess if i can get the correct information, albeit in a different file format, which suite and test failed, along with the compilation errors, with a different plugin, I'm all good.  All I had to do was write a quick converter from that format to the junit format.  I was kind of hoping this would get fixed, so that i didn't have to use/write the converter.

[2020-06-19 15:15] vrknetha opened #128 "[Bug]Report do not include the debug generated console logs."
![image](https://user-images.githubusercontent.com/20596261/85148381-b40aaf80-b26d-11ea-88af-d5bb10e8647b.png)
The terminal generates logs on execution but report does not include that.

[2020-06-21 15:42] dastewa opened #130 "Nested describes - separate test suites"
I was experimenting with this package and found that when there are multiple sibling describes in a test file, only the first one appears in the report as it's own test suite. Is there a setting I might be missing to ensure that sibling describes appear as their own test suites? The use of only the first describe if there are multiple siblings seems arbitrary unless I missed in the docs - definite

[2020-06-21 15:57] palmerj3 commented on #130
Hello!

When I tested nested describe blocks locally this is what I see.

foo.test.js
[code]

junit.xml
[code]

As you can see it combines the name of nested describe blocks in the testsuite.

Is this what you are referring to? From the way you describe the issue it sounded like certain describe blocks were ignored but I'm not seeing that.

[2020-06-21 15:58] palmerj3 commented on #128
Hello!

Please create a github repo that reproduces this problem and then I'll take a look.

[2020-06-21 15:59] palmerj3 commented on #124
This has been done for jest-junit 11.0.0

[2020-06-21 15:59] #124 closed

[2020-06-21 15:59] #117 closed

[2020-06-21 16:00] #114 closed

[2020-06-21 16:20] dastewa commented on #130
Thanks for the quick reply! And yep, I'm definitely seen the exact behavior you showed for nested describe blocks - so that's definitely my bad for not explaining my thoughts well! I was moreso looking at the behavior with adjacent describe blocks. For example:

[code]
Gives this report:
[code]
I see that the classname for `bar test` has its parent's describe block name. But I'm wondering if it wa

[2020-06-21 17:35] palmerj3 commented on #130
Ahh ok I see now. Let me do some testing here on my end and see if anything can be done.

I do believe that jest treats each unique file (e.g. foo.test.js) as a test suite not each describe block. But let me confirm that.

[2020-06-21 17:42] palmerj3 commented on #130
Ok so jest actually doesn't seem SUPER opinionated on this so I was wrong to say that.

It's certainly easier to have things configured the way I do. But glancing at what jest sends to reporters like jest-junit you could, with some work, configure the output so each describe block is a unique test suite in junit.xml.

The hard part would be how to treat a combination of nested and adjacent describ

[2020-06-21 17:45] palmerj3 commented on #130
As you can see from the:
  `"numTotalTestSuites": 1,`

In the output - jest does treat each unique test file as a suite, not each unique describe block.
But with some work you could fork jest-junit and have the output be represented the way you'd like.

[2020-06-21 21:44] dastewa commented on #130
Thank you so much for taking the time to look into this, I really appreciate it! The info you shared showing what jest is sending to the reporters was key. I incorrectly thought that jest considered each describe block as a suite so this is great to know.

I think I'll still take a stab at forking and trying the implementation for my own learning because this project is super useful. Huge thanks a

[2020-06-22 01:09] palmerj3 commented on #130
No worries!

If you end up with something that works I would love to see it so please share.

[2020-06-22 01:09] #130 closed

[2020-06-28 06:22] fabb opened #134 "Invalid Character 0x1b Not Stripped"
Somehow @testing-library sometimes generates `0x1b` characters in the test output. These are currently not stripped by jest-junit, and they result in an invalid XML file.

Example:
![Screenshot 2020-06-28 at 08 16 12](https://user-images.githubusercontent.com/153960/85939782-7e726000-b918-11ea-90b3-bc1420220042.png)

[jest-test-results.xml.txt](https://github.com/jest-community/jest-junit/files/48

[2020-07-02 09:02] BrunnerLivio opened #135 "Add jUnit properties per testcase"
## Description

JUnit allows us to add properties for each test cases as well. At the moment jest-junit only supports properties per test suite.

The XML should look like this (example with PyTest):

[code]

With PyTest this can be done like this:

[code]

## Solutions I have thought of

Since I am not quite sure whether it is possible to extend the Jest `it`/`test`-function to pass metadata, we m

[2020-07-02 09:25] BrunnerLivio commented on #135
I was able to create a "hacky" - but nicer - workaround if the proposed solution above would get accepted.

My test file looks like this:

[code]

The `metadata.js`:

[code]

Then I can read the metadatas and associate it with a test title in `junitProperties.js`:

[code]

The log outputs:

[code]

[2020-07-02 09:28] palmerj3 commented on #135
Hello!

I would really love to have per test case properties. It's something that I wished junit supported.

But ultimately there isn't a junit xsd standard that I'm aware of which actually supports this. So if PyTest supports this then they are most likely generating invalid junit files.

I have to be very careful and conservative about what gets added to jest-junit because it's used in such a wi

[2020-07-02 09:46] BrunnerLivio commented on #135
@palmerj3 Understandable.

I just dug deeper and seems like `@pytest.mark.metadata` is a custom decorator in the codebase I snooped in.
In the end, this decorator calls PyTests [`record_property`](https://docs.pytest.org/en/stable/reference.html#_pytest.junitxml.record_property) function:

Nonetheless, since this is not a standard may I'll need to look into creating an additional plugin. Thanks fo

[2020-07-02 09:46] #135 closed

[2020-07-11 20:36] nesless opened #136 "[Feature] output without stack trace."
I don't think there is any option not to include stack trace in output file.

F.E. doesn't include following stack trace:

 at Object.&lt;anonymous&gt; (/Users/someone/src/__tests__/index.test.js:39:23)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)

[2020-07-11 22:46] palmerj3 commented on #136
I'm not sure I understand what you're reporting here.

Please describe the issue and then provide a repository that reproduces the problem and I'll have a look.

[2020-08-13 16:13] abeggchr commented on #134
Same issue here.

[2020-08-13 16:30] palmerj3 commented on #134
Please create a repository that reproduces this issue and then I can take a look.

Thanks

[2020-08-13 16:31] #136 closed

[2020-08-13 16:31] #128 closed

[2020-08-15 08:04] fabb commented on #134
I created a repo here: https://github.com/fabb/jest-junit-0x1b-bug

I didn't see the `0x1b` anymore though at the cutoff point. Maybe this was changed in @testing-library.

Now the question is whether I just could not reproduce it or if it really was changed in @testing-library 😄.
And whether jest-junit should just strip some special character ranges for safety.

[2020-08-15 10:14] fabb commented on #134
@abeggchr can you still reproduce with the lasest jest and testing-library versions?

[2020-08-15 12:44] palmerj3 commented on #134
@fabb ok at this point nothing is actionable from my side.

Looking at your original junit file you linked in the issue description I don't see any 0x1b characters..

So the screenshot that shows it - is that what appears in the console output?

jest-junit only writes junit.xml files and doesn't contribute to what you see in the console output. That would be the jest default reporter or another re

[2020-08-15 12:44] #134 closed

[2020-08-15 14:56] fabb commented on #134
0x1b is a non-printable character, it is `Escape`.
Editors and the console do not show this character by default, the screenshot is from Sublime with some option activated so it shows such non-printable characters.

No it's not the console output, it's the file output captured with `JEST_JUNIT_OUTPUT_NAME='.jest-test-results.xml' react-scripts test --ci --env=jsdom --reporters=jest-junit  `.

Ok b

[2020-08-16 07:05] fabb commented on #134
Ah now I get it, `strip-ansi` removes ansi escape codes.

Maybe the issue in my problematic case was that the output was cutting off **in the middle** of the escape code, therefore not being stripped by the ansi escape code. In the screenshot above you can see `0x1b[ ...` which looks like the first part of a cut off ansi code. strip-ansi just removes **full** ansi escape codes:

https://github.com

[2020-09-28 15:20] Ppkd2021 opened #145 "Junit xml not printing the console log"
Hi,

I did set up the property includeConsoleOutput: 'true' under jest.config.ts but while executing the test cases the console logs are getting printed on console as mentioned below but they are not coming under junit.xml and I do have 5 test files under the folder.
console.log
      Yes
 at Object.<anonymous> (playwright/e2e/user-onboarding-journey/logtest.test.ts:11:17).
I am using jest-junit":

[2020-09-28 18:34] palmerj3 commented on #145
See https://github.com/jest-community/jest-junit/pull/96#issuecomment-700168772 for more info

[2020-09-28 18:34] #145 closed

[2020-10-05 13:39] creage opened #148 "Can we exclude skipped tests from results?"
I'm running a `jest` with `--testNamePattern` parameter, which filters out tests that do not satisfy the pattern.

The issue that the final `.xml` file lists ALL of tests, marking those that were not run by `<skipped/>` element. This results into too much noise when viewing such output.

Can we somehow exclude skipped tests from results?

[2020-10-05 16:54] palmerj3 commented on #148
Hello!

They are skipped. So I think that makes perfect sense to report it as such.

I'm not entirely convinced we should have an option to remove them from the list because junit.xml is supposed to represent which tests ran, which were skipped, etc.

[2020-10-05 19:02] creage commented on #148
Let me explain the case:

We have an app with thousands of tests, and they are tagged by areas - `security`, `integration`, `network` etc.

Now, when we run tests by `security` tag, we get a result of like 200 `passed`, 3000 `skipped` tests. Same goes with every other area - we get these **~3000** `skipped` entries next to our real test run results. Normally we are not interested in skipped entrie

[2020-10-05 20:58] palmerj3 commented on #148
I think for this use-case what I would suggest doing is having a post-test npm script which truncates the junit.xml file the way you would like before CI picks up on the results

[2020-10-07 10:00] #148 closed

[2020-10-10 07:51] cdhit opened #149 "Cannot find module 'react' from 'index.js' - (node_modules/jest-resolve/build/index.js:259:17)"
My project creation process (this is a `create-react-app` typescript version template:
[code]

My `Jest` version in package-lock.json
[code]

My node.js version is
[code]

create-react-app version is
[code]

antd version is
[code]

file: App.test.tsx `testing file`
[code]

My `antd` source file
[code]

When I ran `npm test`, I got this
[code]

[2020-10-10 08:48] palmerj3 commented on #149
This issue has nothing to do with jest-junit. Please try stackoverflow.

[2020-10-10 08:48] #149 closed

[2020-10-12 11:47] creage commented on #148
@palmerj3 you are right - it is an option. But this would require another XML parsing, looping, removing, saving XML back. I mean, it is not impossible, but it is kinda double work, comparing to just NOT writing unwanted nodes in the first place.

I agree that the duty of reporter is to report whatever results are, but having a bit more granular control over the process might give some value too.

[2020-10-12 14:18] palmerj3 commented on #148
I do agree with you. Processing a large file could possibly add a few seconds to build times.

But if I do this then it would open up a lot of additional requests for more granular control of the output. Don't show passed tests only failed ones, only show things that match this regex or that passes this function.

Since junit is supposed to represent exactly what the test runner did I think my pos

[2020-10-12 14:22] creage commented on #148
what if you make the control of the behavior inversed? Like, accept a filtering function that will decide if a particular test result should be included into the output or not, letting users control that?

Should add relatively small overhead to the implementation, and give more controls to users.

[2020-10-12 15:47] palmerj3 commented on #148
I would much rather not add additional bloat to the library if it's not needed and given that post-processing can easily handle this use-case that is what I would rather teams try.

But if that doesn't work well or if a few others ask for this functionality I would be open to it, of course.

What is your thinking when it comes to that approach?
If you try post-processing the xml file and it's prob

[2020-10-13 09:37] creage commented on #148
It is not problematic, but still...

Here is what I have for Windows setup:

[code]

This requires additional stack to know and is not cross-platform. But it solves my problem at least.

[2020-10-13 21:16] pushkarajawad opened #150 "includeShortConsoleOutput not adding message in failure testcase"
We are using jest-junit   "jest-junit@10.0.0" for reporting. to include message in failure we have added includeShortConsoleOutput in config file but it still not showing message tag in the report.
includeConsoleOutput is working file, it is adding entire stack trace in the report, but we want short error message.

Config:
"jest-junit", {
        "suiteName": "OmniChannel e2e tests",
        "outp

[2020-10-14 11:11] honsa commented on #99
How can we add a screenshot with jest-junit?

The solution above uses another plugin.

[2020-10-14 11:16] palmerj3 commented on #99
The junit spec doesn't allow for binary attachments.

What you could do is upload the screenshots somewhere and then reference them in properties (which are now supported in jest-junit).

But jest-junit is not going to natively support screenshots or any kind of artifacts. junit.xml is itself an artifact.

[2020-10-14 11:18] palmerj3 commented on #150
Hi please create a github repository that recreates this issue and I'll be happy to take a look

[2020-10-14 11:19] honsa commented on #99
We just need the link in the junit report, binary can be handled separate

`<testcase time="1.00" name="Test">
  <system-out>[[ATTACHMENT|/absolute/path/to/some/file]]</system-out>
</testcase>`

[2020-10-14 11:30] palmerj3 commented on #99
system-out right now is only populated by stdout and jest itself has, as of a few releases ago, stopped sending stdout data to reporters like jest-junit. So it's possible if you use an older version of jest.

But right now there is no hook in jest-junit to add output to system-out directly.

[2020-10-15 02:07] PushkarajAwad2 commented on #150
Hi you can check this repo
https://github.com/PushkarajAwad2/jest-playwright-junit-demo.git

[2020-10-15 21:21] PushkarajAwad2 commented on #150
@palmerj3 any updates on it.

[2020-10-15 22:53] palmerj3 commented on #150
Not my full time job so I'll take a look when I can tomorrow

[2020-10-16 15:36] SamTheisens commented on #46
@dl748 @Blacktiger @asheq-svmx @rattrayalex-stripe @jkblume the issue has been addressed in v12.0.0.

[2020-10-19 19:21] PushkarajAwad2 commented on #150
Hi @palmerj3 Could you please help me on this issue?

[2020-10-20 12:48] palmerj3 commented on #150
So I looked into this. shortConsoleOutput does not look at the failure tags or error messages. It ONLY looks at console output (stdout).

So the issue you're raising here should be a feature request.

Please write another issue as a feature request and feel free to submit a pull request.

[2020-10-20 12:48] #150 closed

[2020-10-20 21:22] PushkarajAwad2 commented on #150
Hi @palmerj3 thank you for looking into this issue.
Our end goal is to display error message while publishing junit report in azure devops(VSTS).
e.g.

![image](https://user-images.githubusercontent.com/68724672/96644681-3c619580-12de-11eb-8423-66262839104d.png)
Currently report is only adding stack trace not the error message.
So to add this message, can you please let us know what to do.
As per

[2020-10-20 22:23] palmerj3 commented on #150
So I think this is likely the case of azure devops interpreting junit files incorrectly. The difference between a test failure and a test error is that an error is when a test cannot be executed. Whereas a failure is when a test runs but fails while the test is running.

You can test this behavior by using the latest version of jest-junit (v12.0.0), setting the option reportTestSuiteErrors, and cr

[2020-11-04 16:37] dclayton-godaddy opened #151 "Question: How do I get a junit.xml file per package?"
How do I get a junit.xml file per package?

I see a junit per package, but the junit file contains results for multiple packages.

[2020-11-04 16:41] dclayton-godaddy commented on #151
Nvm. Looks like the jest.config.js needs to be in the directory of the package.

[2020-11-04 16:41] #151 closed

[2020-12-10 15:32] arabull opened #153 "Replacement of <rootDir> happens too late"
The final output location is determined using the following logic:

[code]

Unfortunately, the call to `path.join()` scrubs `<rootDir>` from the outputDirectory, so any path that uses that syntax ends up incorrect.

Tweaking the order to replace `<rootDir>` first solves the problem:

[code]

[2020-12-10 15:42] palmerj3 commented on #153
Nice catch!

Could you submit a PR to fix this and include a test case that makes sure rootDir isn't stripped out?

[2020-12-10 15:52] arabull commented on #153
Yep, working on it now. Will hopefully have something later today.

[2020-12-10 16:47] arabull commented on #153
There is more nuance here than what I originally reported. The problem is actually when the outputDirectory looks like `<rootDir>/../some/dir`. In that case, `path.join()` assumes the `..` cancels out the `<rootDir>`, which seems entirely reasonable. Unfortunately, it means the final value is `some/dir`, and that ends up rooted at `process.cwd()`, which doesn't always match `<rootDir>`.

In our ca

[2020-12-23 10:26] ronyf commented on #46
@samertm I'm still experiencing this issue, even with `jest-junit@12.0.0`.
[code]

but the xml has no record of the error

[code]

[2021-01-11 16:59] justinaszid opened #157 "output xml does not contain failed tests if jest.retryTimes was used"
Hello,

I am facing a very strange issue which I cannot get hang of.

I am using jest.retryTimes to rerun failed tests, but in doing so, I noticed, that the output xml file does not contain tests which failed even after retry. I can see in it default ouput, but not in the xml. Am I missing some settings of these two (retry and jest-junit) does not match well?

Thank you in advance!

[2021-01-11 18:07] palmerj3 commented on #157
Hello!

Please create a repository that recreates this issue consistently along with what results you expect to see.

Once you have that I'll take a look.

Thank you

[2021-01-21 05:34] mvromer commented on #120
I ran into this exact problem this evening while testing a Yeoman generator I had written. I'm using Jest as my test framework, and I use jest-junit to produce JUnit test result files that I can upload to Azure Pipelines.

In my situation running on Windows 10, the Yeoman test helpers will create a temp directory under my user AppData\Local\Temp folder, change into that directory, and then run the

[2021-02-26 14:52] lopezoscar-dev opened #159 "npm registry not found package"
Hi everyone, i'm getting this error when I'm trying to run npm install.

![image](https://user-images.githubusercontent.com/26635388/109315061-de633280-7828-11eb-8604-a7d67ebd7499.png)

Someone has the same error?

[2021-02-26 16:52] palmerj3 commented on #159
jest-junit still exists and I am able to install it using the public registry. So I think this is a problem on your end.

[2021-02-26 16:52] #159 closed

[2021-03-15 11:48] ClydeDz commented on #63
Just adding something that worked for me.

Install the npm package `jest-junit`. Then execute `npm run test:ci` with the following scripts in the `package.json` file. It will produce a `junit.xml` file along with test coverage report files inside the coverage folder.

[code]

[2021-03-15 13:08] sginter commented on #136
I think I have the same problem :-)

So, what I need is:
[code]

What I get is:
[code]

It comes from https://github.com/jest-community/jest-junit/blob/3eb8b0270f42da5c8585327ac6246a16f4c0decd/utils/buildJsonResults.js#L189
(adding tc.failureMessages instead of tc.failureDetails[].message without the tc.failureDetails[].stack appended)

Sorry, I don't know the code base, but it seems to come from

[2021-03-15 13:37] palmerj3 commented on #136
That's a good point. I'm not sure how that feature of jest works.. but if jest-junit gets the output for the failure message we're going to show it.

I suspect this is an issue or a misunderstanding with how Jest handles that CLI flag.

I'd be happy if you investigate it further. I suspect the issue is on the jest side not on the jest-junit side.
But I'm always happy to accept PRs.

[2021-03-31 06:05] omit66 commented on #107
Just for anyone who is still facing a similar problem...
I had to add a package.json file to the root dir.

[2021-04-13 07:44] taitruong commented on #153
I just found this bug after spending too much time why `outputDirectory: "<rootDir>/../../packages"` is not working :(. The workaround is not using rootDir: `outputDirectory: "../../packages"`.

[2021-04-13 17:05] jdelucaa opened #162 "Prettify message value in the std out"
Hi!

I added the render result of a react component in the console log so it can be shown in the std out in the test result file.
I do this by calling the [debug](https://github.com/testing-library/react-testing-library/blob/a241cb8a417135a529acb5504c83c0889080b8c2/src/pure.js#L70) function of @testing-library/react and even though is a pretty print, this is what it looks like in the junit test re

[2021-04-13 23:48] palmerj3 commented on #162
Unfortunately, no. This is how it's passed along to jest-junit and this library just renders it as-is.

If you are writing something to parse this then you can remove the bash extra characters.

[2021-04-13 23:48] #162 closed

[2021-04-14 06:14] SimenB commented on #162
https://www.npmjs.com/package/strip-ansi

[2021-04-19 22:44] mohanraj-r opened #163 "Is it possible to have custom attributes ?"
1. Would like to add custom attributes to test case node that are populated at runtime (and made use of by downstream processes in CI). Would that be possible?

2. Like that certain Template names can be dynamic functions.. Are there any docs/examples/tests on what attributes are present in the callback `vars` obj passed to the template functions e.g. [jest-junit#example-5](https://github.com/jest

[2021-04-20 00:04] palmerj3 commented on #163
Hey!

That's not possible with jest-junit since we only will generate xml that is compatible with most junit xsd specs.

If you need custom attributes you'd have to fork jest-junit or write some utility that processes the generated xml file.

[2021-04-20 00:04] #163 closed

[2021-04-20 00:55] mohanraj-r commented on #163
Thanks for the quick response @palmerj3

How about

[2021-05-20 05:28] Manish123chandel opened #166 "Question: Junit.xml report generated from jest-junit, supports <error> tag in the report?"
Hi @palmerj3 @orta @marcinczenko ,

I trying to generate the Junit .xml with the help of jest-junit library.
the report generated from this library is some unexpected behavior.

May I know the report generated from this lib supports <error> tag?

cos I am trying to generate everytime it create <failure> tag in report as show as below?

how to segragate errors and failure in this report?

Could you

[2021-05-20 12:53] palmerj3 commented on #166
I'm not sure what you mean by "supports tag" or "everytime it create tag". Can you give me an example?

For differentiating errors and regular failures you need to enable the "reportTestSuiteErrors" which you'll find listed in the README documentation.

[2021-05-24 13:48] daivinhtran opened #167 "Bazel + Jest: Dynamic location for jest-junit's xml file"
As mentioned in https://github.com/jest-community/jest-junit/pull/34#issuecomment-350125309, when we run jest with Bazel, the tests are run in a test sandbox and the directory to the sandbox is not deterministic until the execution phase.

When bazel runs jest, bazel writes `test.xml` differently from `jest-junit`. `test.xml` (generated by bazel) is in written in
`/private/var/tmp/[computer_name]/

[2021-05-25 08:52] palmerj3 commented on #167
Hey! Thanks for raising this issue.

I'd be happy to accept a PR contribution that adds this functionality.

Just curious wouldn't you be able to make use of jest-junit's environment variable to make this work?

`JEST_JUNIT_OUTPUT_DIR="$XML_OUTPUT_FILE" jest`

[2021-05-25 13:07] daivinhtran commented on #167
Thanks @palmerj3 for the quick response.

I've digged further and found out bazelbuild's rules_nodejs recently add the `env` attribute to do what you just described above.
PR: https://github.com/bazelbuild/rules_nodejs/pull/2499
Issue: https://github.com/bazelbuild/rules_nodejs/issues/2497

However, we still need another config like `JEST_JUNIT_OUTPUT_FILE` instead of `JEST_JUNIT_OUTPUT_DIR` or `J

[2021-05-25 14:57] daivinhtran commented on #167
Hi @palmerj3 . Please take a look whenever you have a chance. https://github.com/jest-community/jest-junit/pull/168. Thank you.

[2021-05-25 16:04] #167 closed

[2021-05-25 16:22] palmerj3 commented on #167
Thank you!

I just published https://github.com/jest-community/jest-junit/releases/tag/v12.1.0 with your changes included.

[2021-06-18 08:58] hermanzamula opened #173 "Generates unnecessary junit.xml in the tests root (jest 26 and jest-junit 12.2.0)"
Hi, I need `junit.xml` file to be in the reports directory `../../reports/shared`. I'm overriding `outputDirectory` for that:

[code]
But along with the `junit.xml` in `../../reports/shared` it generates extra `junit.xml` in the folder where `jest.config.js` is defined:
![image](https://user-images.githubusercontent.com/2499975/122535020-ce679c80-d02b-11eb-84df-5dafe7d96f0b.png)

I've tried differ

[2021-06-18 11:02] palmerj3 commented on #173
Please create a repository on github that reproduces this problem and share it here.

Thank you

[2021-06-30 22:59] leandrocrs opened #174 "Support possible injected values in all config options such as `suiteName`, `outputName`, `outputDirectory`"
I'm using jest-junit inside a [NX](https://nx.dev) monorepo and to me is a killer feature to name all my tests results in such way using projects names like:
[code]

[2021-07-01 00:15] palmerj3 commented on #174
That's already possible. The "displayName" property refers to the jest project name and you can use that within suiteName, outputName, etc.

[2021-07-04 09:17] MarcelRittershaus commented on #173
I had the same situation. The solution for me was to remove: testResultsProcessor: 'jest-junit'  in my config.

The following jest.config.js setting should resolve your ISSUE
`
/** @type {import('@jest/types').Config.InitialOptions} */
module.exports = {
  preset: 'ts-jest',
  testEnvironment: 'node',
  collectCoverage: true,
  reporters: ['default', ['jest-junit', { outputDirectory: '../../report

[2021-07-04 11:27] #173 closed

[2021-07-28 11:01] torarnv commented on #43
Drive-by note while investigating similar issues in another framework: The ISO8601 spec seems to mandate local time for unqualified time: https://en.wikipedia.org/wiki/ISO_8601#Local_time_(unqualified)

[2021-08-16 13:37] Pouja commented on #174
If I configure `jest-junit` with:
[code]
It will literally output a file `jest-{displayName}.xml`

Also looking at https://github.com/jest-community/jest-junit/blob/master/utils/getOutputPath.js#L9 it seems it takes the raw configuration.

[2021-08-16 14:09] palmerj3 commented on #174
Ah you're right I'm sorry I gave you the wrong information.

Currently jest-junit doesn't allow for injection variables for the path locations.

However it will create a junit.xml file at the root of a jest project for each project. So you could have a post-test npm script or something like that that can rename the files as you need.

Let me know if that will suffice.

[2021-08-16 15:10] Pouja commented on #174
Oh no problem!
In the case of @nrwl/nx that would not work because it runs jest parallel on all the projects. So the junit.xml will be overwritten per project. One way to solve this is by using `uniqueOutputName` but I am not sure at the moment if that would solve my problem that I am facing. Which is to concatenate the test results of the previous CI with the test results of the projects that are

[2021-09-03 09:25] sabberworm opened #178 "{suitename} placeholder incorrect when two describe blocks are on the same level"
Related to #130 but specific to the placeholder.

Suppose I have the following config:

[code]

Then this test:

[code]

Will result in the following XML (timing and dates removed):

[code]

(as you can see, suitename is always “block 1”, even for tests not inside that block).

Whereas I would have expected the following:

[code]

[2021-09-03 10:26] palmerj3 commented on #178
Hey!

Sorry for the confusion. Change your jest-junit config to this in order to achieve what your second junit.xml file.

[code]

[2021-09-03 10:48] sabberworm commented on #178
Makes sense, thanks. Sorry for wasting your valuable time.

[2021-09-03 10:48] #178 closed

[2021-09-29 09:03] KeYu-dev opened #183 "Update strip-ansi to v6.0.1 due to security vulnerability about ansi-regex(v4.1.0)"
Hi, jest-junit team.

Jest-junit is a great libray. But recently our component and governence pipeline detect security vulnerability issue about ansi-regex(v4.1.0) when using jest-junit package.

To update ansi-regex to v5.0.1, jest-junit can update strip-ansi to v6.0.1
https://github.com/chalk/strip-ansi/tree/v6.0.1

How do you think about this?

Thanks in advance.

[2021-09-29 10:08] SimenB commented on #183
Could you send a PR for that? 🙂

[2021-09-30 08:17] KeYu-dev commented on #183
I create a PR, can you check it out?
https://github.com/jest-community/jest-junit/pull/188

[2021-09-30 09:06] #183 closed

[2021-09-30 09:07] #166 closed

[2021-10-04 15:52] holger-koenig commented on #183
@palmerj3 Could you create a release for this change? Thanks!

[2021-10-23 05:47] CWSpear opened #191 "Include snippet in output"
Is there a way to include the snippet in the output? e.g. if I run a test with a failure, I get this output by default from Jest:

[code]

But in the junit output, doesn't show the snippet:

[code]

I was maybe thinking `includeConsoleOutput` and/or `includeShortConsoleOutput` had something to do with that, but it didn't change the output (it also didn't include the `This is a test log statement`

[2021-11-15 19:52] wknapik opened #192 "Dependency ansi-regex is vulnerable to Inefficient Regular Expression Complexity"
[code]

Advisory URL: https://github.com/advisories/GHSA-93q8-gq69-wqmw

[2021-11-16 08:45] schmkr commented on #174
Also using Nx here and found a workaround leveraging environment variables and some assumptions (but should be doable to build upon).

I found out that the project being tested when running it via `nx affected:test` or `nx test <project name>` is available under the environment variable `NX_TASK_TARGET_PROJECT`.

That variable could then be used to construct a unique `outputDirectory` per project.

[2021-11-17 15:25] wknapik commented on #192
cc @palmerj3

[2021-11-18 01:08] #192 closed

[2021-11-19 08:57] btadros commented on #130
I experience unfortunately the same issue. Why was this issue closed, if not solved?

[2021-11-19 12:25] palmerj3 commented on #130
Read the thread and you'll see pretty clearly

[2021-11-30 05:42] na9amura opened #195 "`outputDirectory` configuration does not works"
I found `outputDirectory` configuration does not works. At first, I tried in v13.0.0 in my project and report file was created in project root directory.

### My environment
#### script
[code]

#### jest.config.js
[code]

### Expected result:
`./reports/jest-junit.xml` would be generated.

### Actual result:
`./jest-junit.xml` was generated

---

After that, I checked some previous version and fou

[2021-12-01 03:19] na9amura commented on #195
Thank you!
I missed difference between outputName and outputFile. I was confused because outputDirectory worked in v11
configuring with outputFile option. I confirmed outputDirectory works using outputName.
https://github.com/na9amura/jest-output-directory/pull/1

[2021-12-01 03:19] #195 closed

[2022-01-05 17:08] ryanarifin134 opened #196 ""Failure" XML element in "Testcase" is missing a "type" property"
Hello!

I've noticed in the XML being generated from my jest results that, in the failure case of a test case, a required property called "type" (specifying the type of assert that caused the failure) is missing.

When I say "required property", I mean something that seems generally agreed upon - after some research, there doesn't seem to be one source of truth on the JUnit XML spec. However, look

[2022-01-05 17:39] ryanarifin134 commented on #196
Here's what I mean by the `failure` element missing the `type` property under a `testcase` element!

This is a sample JUnit XML generated with a failing test case.
<img width="1067" alt="Screen Shot 2022-01-05 at 12 38 05 PM" src="https://user-images.githubusercontent.com/19615186/148263380-a444353b-6044-4a58-9fb1-e124760f6267.png">

[2022-01-05 18:30] palmerj3 commented on #196
Hello! Thanks for submitting an issue!

Can I ask: what CI system do you use which has this as a required field?

As you noted there is no single standard for junit. So I have chosen to validate everything jest-junit generates against the jenkins junit xsd. If i add this field then I would have to break jenkins support.

https://github.com/jest-community/jest-junit/blob/master/__tests__/lib/junit.

[2022-01-05 19:32] ryanarifin134 commented on #196
We use a custom in-house CI system.

But mainly, where this is an issue is the Jackson XML parser is requiring at least one field: `message` or `type`.

If you're already following that spec, than in that case, I think I should be sending this issue to the Jackson XML team! Wouldn't make sense for you to cause back compat problems to fix a problem I'm dealing with.

Just realized this is a bug wit

[2022-01-05 19:32] #196 closed

[2022-01-25 12:21] asztal opened #197 "Invalid XML produced if an error message contains an ESC character (0x1B)"
To reproduce the issue:
[code]

For example, this can be produced by the `@testing-library/react` when it decides the summary of the DOM is too long and truncates it (as it may happen to truncate the text in the middle of an ANSI escape code, meaning `strip-ansi` won't remove it).

The output is:
[code]

This is invalid XML and makes it harder to see why the test failed since Azure DevOps rejects

[2022-01-25 12:40] palmerj3 commented on #197
Thank you!

Could you please create a repo that reproduces this issue? Then i'd be happy to have a look.

[2022-01-27 17:12] MoreiraJorge opened #198 "Include FileName in gitlab CI"
I'm having a problem where i cant include the file name in the test report in gitlab CI. I see no attribute in the doc specific to this field. Can someone help? Thanks.

#### Jest-Junit config in package.json

[code]
#### Empty filename
<img width="1205" alt="Screenshot 2022-01-27 at 17 04 51" src="https://user-images.githubusercontent.com/32751407/151408681-3deda7e6-e8fc-45ca-85b7-117d5a338047.pn

[2022-01-27 17:24] palmerj3 commented on #198
Hey thanks for submitting an issue!

I'm going to need more information.

Are you saying that you're unable to change the filename from junit.xml to something else?
Or are you saying that you want to be able to use your chosen filename as an attribute you can include in the junit xml itself (such as in the classname)?

[2022-01-27 17:29] MoreiraJorge commented on #198
Hi! Thanks for the reply!
I think the second one :)
I was wondering if i could add the file name since in gitlab there is a Filename field in the report (after being parsed as you can see in the image, between name and status), but is empty.

I don't know if it is supposed to be there. I don't see any option in the docs related to that field, and if it is supposed to be there how can i edit it?

[2022-01-27 18:22] palmerj3 commented on #198
Ok understood.

Right now that is not supported.

And we're unable to add the filename field because there is nothing in the jenkins junit xsd that mentions this. So if we added it - it would fail a lot of folks builds on other platforms. https://github.com/jest-community/jest-junit/blob/master/__tests__/lib/junit.xsd

You could hardcode your junit output path in testsuite or something like that i

[2022-01-27 18:24] palmerj3 commented on #198
You could always have a post-test npm script that adds this field if absolutely necessary.

But given that gitlab's documentation says to use jest-junit in a pretty stock way I'm not sure exactly what this would add for you.

https://docs.gitlab.com/ee/ci/unit_test_reports.html#jest

[2022-01-27 18:36] palmerj3 commented on #198
Actually. Please ignore EVERYTHING I wrote haha.

I looked more closely at the screenshot and I believe it's looking for you to have the path to the test file itself.

That can be added pretty easily.

Give this config a try:

[code]

Outputs junit like this which will hopefully fill out that field properly. If it doesn't then play around with suiteNameTemplate and/or classNameTemplate options we

[2022-01-28 08:57] andorfermichael commented on #198
I would appreciate it too.

`suiteNameTemplate: '{filepath}'` unfortunately does not work for me

[2022-01-28 09:27] andorfermichael commented on #198
I have found the solution based on the following [source](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/44802):

You have to add:

[code]

Maybe the [readme section "configuration"](https://github.com/jest-community/jest-junit#configuration) should be updated, because currently, it says that this option is primarily for Circle CI.

[2022-01-28 12:04] palmerj3 commented on #198
Ah cool! Would you mind submitting a PR to update the docs?

[2022-01-28 12:04] #198 closed

[2022-01-31 20:10] cc-ebay commented on #197
It is pretty straightforward how to reproduce it.  The output in the XML should filter out an ESC characters sequences

[2022-01-31 22:12] #197 closed

[2022-02-01 11:11] MoreiraJorge commented on #198
I'm sorry for the late reply guys. This code:
[code]

worked perfectly! Thanks @andorfermichael @palmerj3

[2022-02-01 16:14] SimenB commented on #198
`'true'` as a string? That looks off 😛

[2022-02-01 17:35] palmerj3 commented on #198
Been a while since I worked on this bit of code but I believe it has to do with the fact that you can configure jest-junit in package.json, jest config, via reporter arguments, and also via environment variables or any combination thereof.

So not all of those have the ability to have strict boolean values and strings are the easiest thing to normalize.

[2022-03-12 13:01] blephy opened #201 "Options are not taken into account when set on jest.config.js instead of package.json"
Hi,

Seems jest-junit options are not taken into account if they are set in jest.config.js.

[code]

when running jest with this configuration :
- outputName is `junit.xml` instead of `jest-junit.xml`
- outputDir is `<rootDir>` instead of `<rootDir>/reports/junit`
- any other option are not used too ...

When specifying this option in package.json, everything is working.

Did i missed something ?

[2022-03-12 13:28] palmerj3 commented on #201
Hey thanks for submitting an issue!

I believe the issue here is that you've specified jest-junit both as a reporter and a testResultsProcessor.
Remove testResultsProcessor and let me know if the configs work.

testResultsProcessor's don't pay attention to reporter configs.

[2022-03-12 13:31] #153 closed

[2022-03-12 13:32] #174 closed

[2022-03-12 13:32] #191 closed

[2022-03-12 14:09] blephy commented on #201
Hey @palmerj3

You right, this is working :)

Can we update the documentation ?

[2022-03-12 14:11] palmerj3 commented on #201
I feel the docs do a pretty good job showing intended usage of reporter vs testResultsProcessor but feel free to submit a PR clarifying the language and I'll be happy to merge.

[2022-03-12 14:11] #201 closed

[2022-03-12 14:21] blephy commented on #201
You right, this is pretty clear. I maybe read the docs from `npm` or a long time ago :)

[2022-03-16 16:17] ceefour opened #202 "Add "fileTemplate" to complement "addFileAttribute""
In a monorepo, the package is not at the root of git repository.

Meaning, `addFileAttribute` becomes inaccurate.

Please add `fileTemplate` so that we can use like:

[code]

which will be correct path relative to repository root.

[2022-03-17 17:48] ceefour commented on #202
The issue is project root != repository root.

In my case:

* repository root: `/`
* project root: `/package/qc-api`

[2022-03-17 20:01] palmerj3 commented on #202
I see now I understand. Thanks for taking the time to explain!

Right now I think I can safely say we don't have anything built in to jest-junit to easily help with this situation.

Feel free to submit a PR adding this functionality and I will review it. Or you could also have a posttest npm script that decorates the junit.xml file that jest-junit creates and prepends the rest of the path.

[2022-04-15 12:31] matthewoden commented on #46
I'm seeing this issue rearing it's ugly head again in a new way. Tests with errors are simply not recorded.

The test case is where I have a path issue:
[code]

Which outputs that zero tests ran, with zero failures. Updated to version, jest-junit@13.1.0 and jest@27.5.1:
[code]

[2022-04-15 12:53] SamTheisens commented on #46
Did you set `reportTestSuiteErrors`?
[code]

[2022-04-15 12:59] matthewoden commented on #46
@SamTheisens No, we sure didn't. Thank you.

[2022-04-20 16:05] marvinroger commented on #202
I have the exact same use case, here's a PR: https://github.com/jest-community/jest-junit/pull/209

[2022-04-20 21:29] #202 closed

[2022-04-20 22:28] ceefour commented on #202
Super thank you @marvinroger 😎

[2022-04-21 19:42] Deaniesaur commented on #46
Tried adding reportTestSuiteErrors in package.json and error count is displayed right.

However, if I add it using - jest.config.js -test suite's name is undefined and error count is still 0 instead of 1.

         "default",
         [ "jest-junit", { "reportTestSuiteErrors" : "true" } ]
  ],
  testResultsProcessor: "jest-junit",

[2022-04-22 01:49] palmerj3 commented on #46
Try removing testResultsProcessor. If you add jest-junit as both a reporter and testResultsProcessor it likely nullifies the configs.

[2022-04-22 17:43] mastrzyz opened #211 "Failures in "AfterAll" don't get shown in the Junit Results"
Trying to understand the best practices here, we have an issue where a testcase passes correct but the `afterAll` block fails, how should we represent this in the JUNIT?

Here is a simple repro :

[code]

Produces a JUNIT of

[code]

Jest itself outputs :

[code]

Should it be that if a afterAll block fails we add a <failure> to every testcase even if passed?

[2022-04-22 18:04] mastrzyz commented on #211
The event we get from this failure looks to be a `hook failure`

[code]

type:'afterAll'

[2022-04-22 19:37] palmerj3 commented on #211
Thanks for submitting an issue!

This is super interesting... I had never thought about this.

I'd have to try and find how other junit generators handle this.

I don't think that each test case should be marked as failure, in this case, because that's not accurate. However, I could see one make the case that the testsuite/testsuites failures or errors attribute should be incremented.

[2022-04-22 19:38] palmerj3 commented on #211
Typically, I'm not seeing assertions in beforeEach/afterEach/beforeAll/afterAll. I'm more seeing test setup or cleanup operations.

[2022-04-22 19:44] mastrzyz commented on #211
Well for us it was not an assertion but a cleanup operation failing, just easier to repro with an assert.

[2022-04-22 19:44] palmerj3 commented on #211
Ok I'm going to do a bit of research and see how other test runners represent this

[2022-04-23 00:54] palmerj3 commented on #211
So it turns out that the way other test runners handle this (including java junit) is when an afterAll fails it creates a new test case with a generated name and sets that to failed.

I have a POC working locally that I'll keep iterating on a bit more.

[2022-05-03 09:32] sergeyKhristenko opened #212 "Import errors don't show up in junit report"
For example this test
[code]
fails in `jest` with
<img width="350" alt="image" src="https://user-images.githubusercontent.com/18219232/166431275-43c0b756-76cb-49cb-922e-8f8a457925be.png">
<img width="281" alt="image" src="https://user-images.githubusercontent.com/18219232/166431314-33e00588-bfd3-4bdf-a5ad-4e9a832b6afe.png">
But it doesn't show up in `junit` report at all:
(there were 2 test files

[2022-05-03 09:59] SimenB commented on #212
Error is here: https://github.com/jest-community/jest-junit/blob/48a6c138aedfa9fed75500182d74e4649cc4a799/utils/buildJsonResults.js#L85-L88

`suite.testResults` is an empty array, but `suite.testExecError` is set to the import error

[2022-05-03 11:11] palmerj3 commented on #212
You need to enable the reportTestSuiteErrors option in order to have this functionality.

Reason being is that when jest cannot execute a test file reporters don't get very much info about it. So this is a separate option we provide.

[2022-05-03 11:40] SimenB commented on #212
That seems unreasonable to me - the reporter is told what the error was. It should at least default to `true`. There _is_ an error to display, the reporter shouldn't obfuscate that (by default).

[2022-05-03 12:02] palmerj3 commented on #212
@SimenB the reason I've chosen this to not be on by default is that, when this happens, we cannot uniquely identify the suite(s).

We define the suite as an individual "describe" block.
So for errors, with this option enabled, it creates a placeholder entry in junit.xml.

So my reason for making this opt-in is that if people have systems to track tests and test suites over time this has the possib

[2022-05-04 09:15] sergeyKhristenko commented on #212
That worked, thank you!
I did look on the docs and configs but apparently missed that option. I'd like to describe my case a little. We are using Jenkins and relying on `junit` plugin to set build status based on junit reports. So basically with this error the build is 🟢 and I noticed that accidentally looking through console logs. So I'd rather prefer `failed` build with not that precise error me

[2022-05-06 17:54] PavanMudigondaTR opened #213 "not able to produce junit file by adding JEST_JUNIT_OUTPUT_NAME="junit.xml" before jest command"
not able to produce junit file by adding JEST_JUNIT_OUTPUT_NAME="junit.xml" before jest command. Could you please help. I see your team made a release recently and i tried to follow your latest instruction but still not able to produce junit xml from command line. For CI/CD we need to add command line arg to produce junit file rather than asking all teams to add in their package.json file.

[2022-05-06 17:58] PavanMudigondaTR commented on #213
It appearing we are not able to produce junit xml even with arugument added in pacakge.json file. please help!

[2022-05-06 19:57] mastrzyz commented on #211
@palmerj3  do you need any help with this? if we agree on the solution above ^^ I can help with code.

[2022-05-06 20:03] palmerj3 commented on #211
Sure if you'd like to take a crack at putting together a PR I'd be happy to review.

[2022-05-06 20:05] palmerj3 commented on #213
I will need a lot more information in order to help you. Could you please put together a repository that reproduces this issue?

Once you do that I'd be happy to take a look.

[2022-05-07 11:30] PavanMudigondaTR commented on #213
My apologies. We were doing something wrong but later we figured and were able to generate junit file. Thanks for responding back !

[2022-05-07 11:49] #213 closed

[2022-05-24 17:32] mastrzyz commented on #211
@palmerj3  it looks like there is no way to understand if an `afterAll` or `beforeAll` failed.

The only thing we get is that the `testExecError` is propagated.

My idea is before we loop through the testcases of the suite

[code]

We would check for testExecError and if its not null , we would add a new testcase.

[code]

Would want to refactor the existing code to create a testcase so we don't h

[2022-05-24 23:05] palmerj3 commented on #211
On the surface that sounds like a perfectly good approach

[2022-05-24 23:06] mastrzyz commented on #211
I'll get a PR ready then, thanks a bunch!

[2022-05-24 23:18] palmerj3 commented on #211
Thank you! This will be an amazing feature.

[2022-06-03 20:23] mastrzyz commented on #107
@omit66  @palmerj3  I also hit this bug but I have a solution -> https://github.com/jest-community/jest-junit/pull/215/files care to take a look?

[2022-06-14 09:08] meta-dipanshu-sharma opened #216 "jenkins build error : No test report files were found. Configuration error?"
When I skip unit test step in jenkins using "skip ci" plugin then this error is thrown in build logs. Is there any way we can allow empty or no test report files without failing the build?

[2022-06-28 02:43] CMCDragonkai opened #218 "Is there a way to capture STDERR (either from console.error or process.stderr.write)?"
I have tests that tests code that prints log messages to STDERR.

STDERR is the standard way of outputting log messages on unix operating systems.

I'm wondering why `includeConsoleOutput` doesn't affect STDERR.

Can we get an option to also include STDERR? Maybe something like `includeConsoleError`?

I'd prefer that it also captured `process.stderr.write`, but could settle for `console.error`.

[2022-06-28 12:36] #211 closed

[2022-06-28 12:36] #107 closed, assigned to nobody

[2022-06-28 12:38] #212 closed

[2022-06-29 02:17] CMCDragonkai commented on #218
I'm confused, in your issue #45 it says it is available. So I'm not just asking about `process.stderr`, but I'm asking about `console.log` and `console.error`. Does `console.error` work?

[2022-06-29 02:19] CMCDragonkai commented on #45
@palmerj3 are those 2 caveats still true?

[2022-06-29 02:27] CMCDragonkai commented on #45
What's the reason to do this:

[2022-06-29 11:45] palmerj3 commented on #218
None of them work and haven't for years. If jest fixes the bug then it would work in jest-junit by enabling the "includeConsoleOutput" option.

[2022-07-07 03:12] chiubaka opened #219 "Reports aren't output when `--runInBand` or `--maxWorkers=1` option is included along with `JEST_JUNIT_OUTPUT_DIR` env variable"
Thanks for your work on this project!

I stumbled upon this while trying to get testing reports configured properly with CircleCI. Specifically, they pointed me to [this example](https://circleci.com/docs/collect-test-data#jest).

I'm finding that when I run the full command `JEST_JUNIT_OUTPUT_DIR="./reports/junit/" jest --ci --runInBand --reports=default --reports=jest-junit`, my reports just don

[2022-07-07 03:16] chiubaka commented on #219
Unfortunately, though, `--maxConcurrency=1` doesn't seem to work with CircleCI--`jest` seems to stall due to a known issue.

[2022-07-07 07:28] palmerj3 commented on #219
If I change your first command from:

`JEST_JUNIT_OUTPUT_DIR="./reports/junit/" jest --ci --runInBand --reports=default --reports=jest-junit`

To

`JEST_JUNIT_OUTPUT_DIR="./reports/junit/" jest --ci --runInBand --reporters=default --reporters=jest-junit`

It appears to work fine. Can you give that a try and report back?

[2022-07-08 00:39] palmerj3 commented on #219
Ok. Locally, the first command copied & pasted works perfectly for me.

Could you create a repository that reproduces this issue?

It could also be that you may need quotes around "default" and "jest-junit"

[2022-07-08 01:28] chiubaka commented on #219
Thanks for the fast response!

The repo with the problem is currently [open source](https://github.com/chiubaka/generator-chiubaka-typescript-package).

I know that's a pain, though. Fortunately, this project is a generator to scaffold simple repositories with a set up I like. So far the [generated repository](https://github.com/chiubaka/generated-typescript-package) (which I'm versioning along wi

[2022-07-08 01:56] palmerj3 commented on #219
Ok I'll close this but reopen if you can reproduce this again.

Some closing thoughts I'll leave you with.
Might be easier on you to include a jest configuration file. Then you don't have to mix environment variables and cli inputs. You can do it all via a reporter config.

Should still work as you have it but simpler config should help with narrowing this down.

[2022-07-08 01:56] #219 closed

[2022-07-27 05:15] mastrzyz commented on #120
@mvromer  , would this recent commit fix this issue ? https://github.com/jest-community/jest-junit/pull/215 also @benophilipmathew

[2022-08-24 16:47] azzlack opened #220 "Getting "extra" testcases, one "correct", another with just a Test Execution Failure"
I'm getting some weird test results when using this.
I get one ESlint testcase that represents the file itself, that is successful - and one testcase for the same file with just an error `Test execution failure: could be caused by test hooks like &apos;afterAll&apos;.`

[code]

[code]

Running `jest --ci` then yields the following result.
(Please note that the failing testcases are not present in

[2022-08-24 17:00] azzlack commented on #220
Downgrading to v13.2.0 seems to fix the issue.
https://github.com/jest-community/jest-junit/pull/214 looks to have been the one that adds the "fake" testcase, but it seems to not work correctly when `testExecError` is `null`, as it only matches `undefined` ?

[2022-08-25 00:43] palmerj3 commented on #220
You'll need to use "false" instead of false for the parameters.

This is not ideal or intuitive, I agree. But it's for compatibility across
the various ways you are able to set options with jest-junit.

So I think what is happening is that you've inadvertently turned the
feature on. Should work all the same if you just remove
the reportTestSuiteErrors configuration line.

If that doesn't work let

[2022-08-25 15:11] azzlack commented on #220
I removed them, without any difference. As you can see from the PR, the issue is with how jest-junit deals with null vs undefined in 14.0.0

[2022-08-26 11:53] #220 closed

[2022-09-22 16:13] ievgennaida opened #223 "[Question] include console log as a system.out to the junit report."
Junit format is supporting next XML nodes to keep the logs and evidences/errors of the tests execution:

[code]

Do you have any way to configure plugin to include console output for the jUnit?
BR.

[2022-09-22 16:49] palmerj3 commented on #223
jest-junit does support it but jest itself no longer sends reporters this data as of many major versions ago.

More details here https://github.com/jest-community/jest-junit/issues/45

[2022-09-22 16:49] #223 closed

[2022-09-28 08:49] AndreasHae opened #225 "Handle boolean values in addition to strings within config"
I lost a lot of time trying to configure unique output names because I was passing the `uniqueOutputName` parameter as `true` (boolean) instead of `"true"` (string). Only after manually checking the project's source code, I found that it only checks for strings. That's a major footgun when configuring directly using jest.config.js. Seems like an easy fix as well.

I'm using version 14.0.1.

[2022-09-28 11:31] palmerj3 commented on #225
It's not an easy fix unless we remove the ability to configure jest-junit via environment variables. A lot of teams are dependent on this functionality so this is why we have a not ideal ergonomics here.

Always open to better docs or for someone to magically fix this with a PR.

[2022-09-28 11:31] #225 closed

[2022-10-04 02:22] sayhiben opened #228 "Feature Request: Add `line` attribute to `<testcase>` element"
Firstly, thanks for the library; it's super useful.

My team uses GitHub Actions as our CI orchestration layer. We use the jUnit XML format for consistent reporting across different parts of our stack, which allows us to use a common reporting tool that annotates our builds and PRs: https://github.com/mikepenz/action-junit-report

This GitHub Marketplace Action supports the `line="1234"` attribute

[2022-10-04 11:02] palmerj3 commented on #228
Hey thanks for submitting an issue!

Couple of issues with implementing this, unfortunately.

jest-junit follows the jenkins junit xsd and this field is not part of that. Hard for me to say what impact it would have adding a non-standard field to everyones junit as different CI and reporting systems vary but since inception jest-junit has followed that spec. Details here https://github.com/jest-co

[2022-10-04 15:36] sayhiben commented on #228
Thanks for the context!

Completely understood about the spec, though I'm curious if you'd consider making the attribute optional and default to off?

As for whether Jest passes the line number, I went digging and discovered that newer versions of Jest have a GHA reporter. I'll give that a try today to see if it can meet my needs. They use the frame information to extract the line number in that r

[2022-10-04 18:42] palmerj3 commented on #228
Ah that is interesting. Seems like it derives the line number from a stack trace so I suppose only failing test cases would contain a line number.

If you submit a PR making it an optional attribute I am happy to review!

[2022-10-07 17:45] sayhiben commented on #228
@palmerj3 Would you mind re-opening this issue? I've created an internal ticket to open a PR for this feature and would like to use this issue to help track

[2022-10-15 15:31] AndreasHae commented on #225
I think there's a misunderstanding. I don't want to replace the existing option to be configured by the string `"true"`, I just want to extend it to also allow using the boolean `true`. This should not break environment variables.